<template>
  <GridContainer>
    <div class="container-fluisd pxs-3 px-md-0">
      <div class="row g-0 g-md-4 no-gutters">
      <div class="col-md-7">
        <slot name="left" />
      </div>

      <div class="col-md-5 px-2">
        <div class="mt-4 mt-md-0">
          <slot name="right" />
          <TheFooter class="internal" />
        </div>
      </div>
    </div>
    </div>
  </GridContainer>
</template>

<script>
import GridContainer from '@/components/template/grid/GridContainer.vue'
import TheFooter from '@/components/template/TheFooter.vue'

export default {
  components: { GridContainer, TheFooter }
}
</script>