<template>
  <div class="notification" @click="handleClick">
    <div class="notification__icon">
      <UserAvatar :color="!notification.is_read ? '#FF6348' : null" />

      <div
        v-if="icon"
        class="notification__icon__badge"
        :style="{ background: color ? `${color}!important` : null }"
      >
        <font-awesome-icon :icon="['fa', icon]" />
      </div>
    </div>

    <div>
      <div class="notification__body" v-html="notification.message"></div>
      <div class="notification__date">{{ notification.created_at }}</div>
    </div>
  </div>
</template>

<script>
import UserAvatar from '../user/UserAvatar.vue'

const TYPES = {
  NewCommentInMyPostNotification: { icon: 'comment', color: '#39c' },
  NewCommentInAPostICommentedNotification: { icon: 'comments', color: '#0b5' },
  LikeMyCommentNotification: { icon: 'heart', color: '#ff496c' },
}

export default {
  components: { UserAvatar },
  
  props: {
    notification: { type: Object, required: true }
  },

  computed: {
    icon () {
      return TYPES[this.notification.type]?.icon
    },

    color () {
      return TYPES[this.notification.type]?.color
    }
  },

  methods: {
    handleClick () {
      this.$router.push({ name: 'post', params: { id: this.notification.meta.post_id }})
    }
  }
}
</script>

<style lang="scss" scoped>
  .notification {
    display: flex;
    align-items: flex-start;;
    gap: 8px;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;

    &:hover {
      background: rgba(#000, .1);
    }

    &__icon {
      flex: 0 0 auto;
      position: relative;

      &__badge {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translateY(50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 100%;
        background: $primary-color;

        ::v-deep & > * {
          color: #fff;
          font-size: 12px;
        }
      }
    }

    &__body {
      flex: 1;
      font-size: 14px;
      line-height: 1.5;
    }

    &__date {
      font-size: 12px;
      margin-top: 8px;
      color: $subtext-color;
    }
  }
</style>