<template>
  <InfiniteScroll
    @reached="fetch"
    :is-loading="isLoading"
    :is-done="isDone"
  >
    <div
      class="item"
      v-for="notification in resource"
      :key="notification.id"
    >
      <NotificationItem :notification="notification" />
    </div>

    <NoResourceText v-if="!hasResource && !isLoading">Por enquanto tudo está quieto por aqui 😴</NoResourceText>
  </InfiniteScroll>
</template>

<script>
import { getNotifications } from '@/api/notification.api'
import InfiniteScroll from '@/components/utils/InfiniteScroll.vue'
import NotificationItem from '@/components/notification/NotificationItem.vue'
import PaginableResourceMixinVue from '@/mixins/PaginableResourceMixin.vue'


export default {
  components: { InfiniteScroll, NotificationItem },

  mixins: [PaginableResourceMixinVue],

  methods: {
    fetch () {
      this.fetchResource(({ page }) => getNotifications({ page }))
    }
  }
}
</script>

<style lang="scss" scoped>
  .item:not(:last-child) {
    border-bottom: 1px solid rgba(#000, .125);
    margin-bottom: 4px;
    padding-bottom: 4px;
  }
</style>