<template>
  <div class="layout">
    <slot />
  </div>
</template>


<style lang="scss" scoped>
  .layout {
    background: #fff;
    padding: 16px;
    border-radius: var(--nixy-border-radius);
    color: $text-primary-color;

    @media (max-width: 550px) {
      padding: 24px 12px;
    }
  }
</style>