<template>
  <InfiniteScroll
    @reached="fetch"
    :is-loading="isLoading"
    :is-done="isDone"
  >
    <NoResourceText v-if="!isLoading && !resource.length">
      Você ainda não possui pedidos de amizade pendentes.
    </NoResourceText>

    <HorizontalNav v-else>
      <HorizontalNavItem
        v-for="user in resource"
        :key="user.id"
      >
        <UserIntroduceInfos :user="user" class="dark" />

        <div class="d-flex align-items-center mt-2 mt-sm-0">
          <PrimaryButton @click="confirmFriend(user)" class="me-1">Aceitar</PrimaryButton>
          <TextButton class="gray" @click="showUnfriendConfirmation(user)">Cancelar</TextButton>
        </div>
      </HorizontalNavItem>
    </HorizontalNav>
  </InfiniteScroll>
</template>

<script>
import { mapActions, mapMutations } from 'vuex'
import { getFriendshipRequests, destroyFriendship, requestFriendship } from '@/api/friendship.api'
import HorizontalNav from '@/components/nav/HorizontalNav'
import HorizontalNavItem from '@/components/nav/HorizontalNavItem'
import UserIntroduceInfos from '@/components/user/UserIntroduceInfos.vue'
import InfiniteScroll from '@/components/utils/InfiniteScroll.vue'
import PaginableResourceMixin from '@/mixins/PaginableResourceMixin.vue'
import TextButton from '@/components/buttons/TextButton.vue'
import PrimaryButton from '@/components/buttons/PrimaryButton.vue'

export default {
  components: {
    HorizontalNav,
    HorizontalNavItem,
    UserIntroduceInfos,
    InfiniteScroll,
    TextButton,
    PrimaryButton,
  },

  mixins: [PaginableResourceMixin],

  methods: {
    ...mapMutations('user', ['increaseUserFriendCount']),

    ...mapActions('friendship', ['friendshipStarted']),

    fetch () {
      this.fetchResource(({ page }) => getFriendshipRequests({ page }))
    },

    showUnfriendConfirmation (user) {
      this.showConfirmation({
        message: `Você recusando o convite de amizade de <b>${user.name}</b>`,
        confirm: () => this.cancelRequest(user)
      })
    },

    async confirmFriend (friend) {
      this.removeResourceById(friend.id)

      await requestFriendship(friend.id)

      this.friendshipStarted(friend)
    },

    async cancelRequest (friend) {
      this.removeResourceById(friend.id)

      await destroyFriendship(friend.id)
    }
  }
}
</script>
