<template>
  <InfiniteScroll
    @reached="fetch"
    :is-loading="isLoading"
    :is-done="isDone"
  >
    <NoResourceText v-if="!isLoading && !resource.length">
      Você ainda não possuí amigos.
    </NoResourceText>

    <HorizontalNav v-else>
      <HorizontalNavItem
        v-for="user in resource"
        :key="user.id"
      >
        <UserIntroduceInfos :user="user" class="dark" />

        <div class="d-flex align-items-center mt-2 mt-sm-0">
          <TextButton class="gray" @click="showCancelInviteConfirmation(user)">Cancelar</TextButton>
        </div>
      </HorizontalNavItem>
    </HorizontalNav>
  </InfiniteScroll>
</template>

<script>
import { getFriendshipRequestsSent, destroyFriendship } from '@/api/friendship.api'
import HorizontalNav from '@/components/nav/HorizontalNav'
import HorizontalNavItem from '@/components/nav/HorizontalNavItem'
import UserIntroduceInfos from '@/components/user/UserIntroduceInfos.vue'
import InfiniteScroll from '@/components/utils/InfiniteScroll.vue'
import PaginableResourceMixin from '@/mixins/PaginableResourceMixin.vue'
import TextButton from '@/components/buttons/TextButton.vue'

export default {
  components: {
    HorizontalNav,
    HorizontalNavItem,
    UserIntroduceInfos,
    InfiniteScroll,
    TextButton,
  },

  mixins: [PaginableResourceMixin],

  methods: {
    fetch () {
      this.fetchResource(({ page }) => getFriendshipRequestsSent({ page }))
    },

    showCancelInviteConfirmation (user) {
      this.showConfirmation({
        message: `Você estará cancelando o convite de amizade para ${user.name}`,
        confirm: () => this.cancelInvite(user)
      })
    },

    async cancelInvite (friend) {
      const index = this.resource.findIndex(f => f.id == friend.id)
      this.resource.splice(index, 1)
      await destroyFriendship(friend.id)
    }
  }
}
</script>
