<template>
  <BaseModal>
    <template #title>Seguidores de {{ user.name }}</template>

  </BaseModal>
</template>

<script>
import BaseModal from '@/components/modal/BaseModal'

export default {
  components: {
    BaseModal,
  },

  props: {
    user: { type: Object, required: true }
  },

  data: () => ({
  }),

  methods: {
    
  }
}
</script>