$primary-color: #FF6348;

$background-color: #2B3237;
$background-secondary-color: #141414;
$font-color: #fff;
$text-primary-color: #4A4A50;
$text-secondary-color: #CBCBCB;
$subtext-color: #8D8D9B;
$container-max-width: 820px;

$border-color: #CBCBCB;
$border-radius: 5px;
$mobile-border-radius: 0;
$border-secondary-color: rgba(#fff, .2);

$button-height: 2.25rem;

$lg-breaking-point: 992px;

$error-color: #ff6b6f;

$background-overlay:rgba(91, 112, 131, .75);

$icon-fill: #7f7f7f;

:root {
    --nixy-border-radius: 5px;

    @media (max-width: 992px) {
        --nixy-border-radius: 0;
    }
}