<template>
  <div>
    <LoadingBox v-if="isLoading" />

    <div v-else>
      <SectionHeading>
        Seguidores <span v-if="user.friend_count">({{ user.friend_count }})</span>
      </SectionHeading>
      
      <small v-if="!users.length">Ainda não possui seguidores 🤐</small>

      <UserFollowersList v-else :users="users" />

      <TextButton @click="openUserFriendsModal" v-if="users.length">
        Ver todos os seguidores
      </TextButton>
    </div>
  </div>
</template>

<script>
import { getUserFriends } from '@/api/user.api'
import SectionHeading from '@/components/typography/headings/SectionHeading'
import UserFollowersList from '@/components/user/UserFollowersList'
import TextButton from '@/components/buttons/TextButton'
import LoadingMixin from '@/mixins/LoadingMixin'
import UserFriendsModal from '@/components/user/UserFriendsModal'

export default {
  components: {
    SectionHeading,
    UserFollowersList,
    TextButton
  },

  mixins: [LoadingMixin],

  props: {
    user: { type: Object, required: true }
  },

  data: () => ({
    users: []
  }),

  mounted () {
    this.fetch()
  },

  methods: {
    async fetch () {
      this.setLoading(true)

      const res = await getUserFriends(this.user.id)
      this.users = res.data

      this.setLoading(false)
    },

    openUserFriendsModal () {
        this.$vfm.show({
          component: UserFriendsModal,
          bind: { user: this.user }
        })
    }
  }
}
</script>