<template>
  <div class="user">
    <router-link :to="{ name: 'user.profile', params: {slug: user.slug} }"  class="user__profile">
      <UserPicture class="user__profile__picture" :user="user" />

      <div>
        <div class="user__profile__name">{{ user.name }}</div>
        <div class="user__profile__slug">@{{ user.slug }}</div>
      </div>
    </router-link>

    <div class="user__stats">
      <StatsCard>
        <template #icon>
          <font-awesome-icon :icon="['fa', 'users']" />
        </template>
        <template #stats>️{{ user.friend_count }}</template>
        <template #label>amizades</template>
      </StatsCard>

      <StatsCard>
        <template #icon>
          <font-awesome-icon :icon="['fa', 'mask']" />
        </template>
        <template #stats>{{ user.post_count }}</template>
        <template #label>posts</template>
      </StatsCard>

      <StatsCard>
        <template #icon>
          <font-awesome-icon :icon="['fa', 'heart']" />
        </template>
        <template #stats>{{ user.like_comment_received_count }}</template>
        <template #label>️likes</template>
      </StatsCard>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import UserPicture from '@/components/user/UserPicture'
import StatsCard from '@/components/cards/StatsCard'

export default {
  components: {
    UserPicture,
    StatsCard,
  },

  computed: {
    ...mapGetters('user', ['user'])
  }
}
</script>

<style lang="scss" scoped>
  .user {
    &__profile {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      position: relative;

      &:hover:before { opacity: 1 }

      &__picture {
        flex: 0 0 auto;
        width: 64px;
        height: 64px;
        margin-right: 8px;
      }

      &__name {
        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        color: #fff;
      }

      &__slug {
        font-size: 14px;
        color: $text-secondary-color;
      }
    }

    &__stats {
      display:  flex;
      gap: 5px;
    }
  }
</style>