<template>
  <InfiniteScroll
    @reached="fetch"
    :is-loading="isLoading"
    :is-done="isDone"
  >
    <NoResourceText v-if="!isLoading && !resource.length">
      Você ainda não possuí amigos.
    </NoResourceText>
  
    <HorizontalNav v-else>
      <HorizontalNavItem
        v-for="user in resource"
        :key="user.id"
      >
        <UserIntroduceInfos :user="user" class="dark" />

        <div class="d-flex align-items-center mt-2 mt-sm-0">
          <TextButton class="gray" @click="showUnfriendConfirmation(user)">Remover</TextButton>
        </div>
      </HorizontalNavItem>
    </HorizontalNav>
  </InfiniteScroll>
</template>secondary-

<script>
import { getUserFriends } from '@/api/user.api'
import { destroyFriendship } from '@/api/friendship.api'
import HorizontalNav from '@/components/nav/HorizontalNav'
import HorizontalNavItem from '@/components/nav/HorizontalNavItem'
import UserIntroduceInfos from '@/components/user/UserIntroduceInfos.vue'
import InfiniteScroll from '@/components/utils/InfiniteScroll.vue'
import PrimaryButton from '@/components/buttons/PrimaryButton.vue'
import PaginableResourceMixinVue from '@/mixins/PaginableResourceMixin.vue'
import TextButton from '@/components/buttons/TextButton.vue'
import { mapMutations } from 'vuex'

export default {
  components: {
    HorizontalNav,
    HorizontalNavItem,
    UserIntroduceInfos,
    InfiniteScroll,
    PrimaryButton,
    TextButton,
  },

  mixins: [PaginableResourceMixinVue],

  methods: {
    ...mapMutations('user', ['decreaseUserFriendCount']),

    fetch () {
      this.fetchResource(({page}) => getUserFriends('me', {page: page}))
    },

    showUnfriendConfirmation (user) {
      this.showConfirmation({
        message: `Você estará removendo ${user.name} da sua lista de amizades.`,
        confirm: () => this.removeFriend(user)
      })
    },

    async removeFriend (friend) {
      this.removeResourceById(friend.id)
  
      await destroyFriendship(friend.id)

      this.decreaseUserFriendCount()
    }
  }
}
</script>
