<template>
  <BaseModal>
    <template #title>Seguidores de {{ user.name }}</template>

    <infiniteScroll
      @reached="fetch"
      :is-done="isDone"
      :is-loading="isLoading"
    >
      <UserFollowersList :users="users" @click.stop="$vfm.hideAll()" />
    </infiniteScroll>
  </BaseModal>
</template>

<script>
import { getUserFriends } from '@/api/user.api'
import BaseModal from '@/components/modal/BaseModal'
import InfiniteScroll from '@/components/utils/InfiniteScroll.vue'
import UserFollowersList from './UserFollowersList.vue'
import LoadingMixin from '@/mixins/LoadingMixin.vue'

export default {
  components: {
    BaseModal,
    InfiniteScroll,
    UserFollowersList,
  },

  mixins: [LoadingMixin],

  props: {
    user: { type: Object, required: true }
  },

  data: () => ({
    users: [],
    page: 1,
    isDone: false,
  }),

  methods: {
    async fetch () {
      this.setLoading(true)

      const res = await getUserFriends(this.user.id, { page: this.page++, perPage: 10 })

      res.data.forEach(user => this.users.push(user))

      this.isDone = !res.links.next

      this.setLoading(false)
    }
  }
}
</script>