<template>
  <div class="search">
    <BasicInput
      v-model="q"
      placeholder="Fulaninha da Silva"
      icon="search"
      autofocus="true"
    />

    <NoResourceText v-if="hasNoResults" class="mt-2">
      Eita, não achamos ninguém para essa pesquisa 😞
    </NoResourceText>

    <div class="search__results" v-if="resource.length || isLoading">
      <InfiniteScroll
        @reached="search"
        :is-loading="isLoading"
        :is-done="isDone"
      >
        <HorizontalNav>
          <HorizontalNavItem
            v-for="user in resource"
            :key="user.id"
          >
            <UserIntroduceInfos :user="user" class="dark" />

            <div class="d-flex align-items-center flex-shrink-0">
              <UserProfileFollowButton :user="user" />
            </div>
          </HorizontalNavItem>
        </HorizontalNav>
      </InfiniteScroll>
    </div>
  </div>
</template>

<script>
import { debounce } from 'lodash'
import { searchUser } from '@/api/user.api'
import BasicInput from '@/components/form/input/BasicInput.vue'
import HorizontalNav from '@/components/nav/HorizontalNav'
import HorizontalNavItem from '@/components/nav/HorizontalNavItem'
import UserIntroduceInfos from '@/components/user/UserIntroduceInfos.vue'
import PrimaryButton from '@/components/buttons/PrimaryButton.vue'
import PaginableResourceMixin from '@/mixins/PaginableResourceMixin.vue'
import InfiniteScroll from '@/components/utils/InfiniteScroll.vue'
import UserProfileFollowButton from '@/components/user/profile/UserProfileFollowButton'

export default {
  components: {
    BasicInput,
    HorizontalNav,
    HorizontalNavItem,
    UserIntroduceInfos,
    PrimaryButton,
    InfiniteScroll,
  UserProfileFollowButton
  },

  mixins: [PaginableResourceMixin],

  data: () => ({
    q: '',
    page: 1,
    hasNoResults: false,
  }),

  mounted () {
    this.isDone = true
  },

  watch: {
    q () {
      this.typingSearch()
    }
  },

  methods: {
    typingSearch: debounce(async function () {
      this.resource = []
      this.hasNoResults = false

      if (this.q.trim().length < 3) {
        return null
      }
      
      this.page = 1
      
      this.isLoading = true

      await this.search()

      this.loading = false
    }, 500),

    async search () {
      if (this.q.trim().length < 3) {
        return null
      }
      
      await this.fetchResource(({ page }) => searchUser(this.q.trim(), { page }))

      this.hasNoResults = !this.resource.length
    }
  },
}
</script>

<style lang="scss" scoped>
  .search {
    &__label {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    &__results {
      margin-top: 10px;
    }
  }
</style>