<template>
  <div class="box ratio ratio-1x1">
    <picture
      class="box__picture"
      :style="{ backgroundImage: `url(${user.picture})`}"
    ></picture>
    <slot/>
  </div>
</template>

<script>
export default {
  props: {
    user: { type: Object, required: true }
  }
}
</script>

<style lang="scss" scoped>
  .box {
    display: inline-block;
    max-width: 150px;
    position: relative;

    &__picture {
      display: block;
      background-size: cover;
      background-position: center;
      border-radius: 100%;
    }
  }
</style>
