<template>
  <div>
    <SectionHeading>
      Grupos
    </SectionHeading>

    <UserGroupsList/>

    <TextButton>
      Ver todos grupos
    </TextButton>
  </div>
</template>

<script>
import SectionHeading from '@/components/typography/headings/SectionHeading'
import TextButton from '@/components/buttons/TextButton'
import UserGroupsList from '@/components/user/UserGroupsList'

export default {
  components: {
    SectionHeading,
    TextButton,
    UserGroupsList,
  }
}
</script>