<template>
  <div class="row g-2">
    <div class="col-4 mb-3"
      v-for="user in users"
      :key="user.id"
    >
      <UserIntroduceInfos class="vertical" :user="user" />
    </div>
  </div>
</template>

<script>
import HorizontalNav from '@/components/nav/HorizontalNav'
import HorizontalNavItem from '@/components/nav/HorizontalNavItem'
import UserIntroduceInfos from './UserIntroduceInfos'

export default {
  components: {
    HorizontalNav,
    HorizontalNavItem,
    UserIntroduceInfos
  },

  props: {
    users: { type: Array, required: true }
  },
}
</script>