<template>
  <div
    class="avatar"
    :class="{'avatar--sm' : size == 'sm', 'avatar--has-color' : color}"
    :style="{'background': color}"
  >
    <AnonSVG />
  </div>
</template>

<script>
  import AnonSVG from '@/assets/svg/AnonSVG'

  export default {
    components: {
      AnonSVG,
    },

    props: {
      size: { type: String, default: null },
      color: { type: String, default: null }
    },
  }
</script>

<style scoped lang="scss">
  .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background: #fff;
    border: 2px solid $primary-color;

    svg { width: 70%; fill: $primary-color }

    &--has-color svg { fill: #fff }

    &--sm {
      width: 35px;
      height: 35px;

      svg { width: 20px }
    }
  }
</style>