<template>
  <router-link :to="{name: 'user.profile', params: {slug: user.slug}}" class="user">
    <UserPicture class="user__avatar" :user="user" />

    <div class="user__infos">
      <NamingText>{{ user.name }}</NamingText>

      <!-- <DisclaimerText>@{{ user.slug }}</DisclaimerText> -->
    </div>
  </router-link>
</template>

<script>
import NamingText from '@/components/typography/text/NamingText'
import DisclaimerText from '@/components/typography/text/DisclaimerText'
import UserPicture from '@/components/user/UserPicture'

export default {
  components: {
    NamingText,
    DisclaimerText,
    UserPicture,
  },

  props: {
    user: { type: Object, required: true }
  },
}
</script>

<style lang="scss" scoped>
  .user {
    $p: &;
    display: flex;
    align-items: center;

    &__avatar {
      flex: 0 0 auto;
      display: block;
      width: 40px;
      height: 40px;
      background-size: cover;
      background-position: center center;
      border-radius: 100%;
      margin-right: 10px;
    }

    &__infos {
      display: flex;
      flex-direction: column;
    }

    &.dark {
      ::v-deep .naming { color:$text-primary-color }
    }

    &.vertical {
      flex-direction: column;

      #{$p}__avatar {
        width: 60px;
        height: 60px;
        margin-bottom: 6px;
      }

      #{$p}__infos {
        display: flex;
        flex-direction: column;
        gap: 3px;
        text-align: center;
      }
    }
  } 
</style>