<template>
  <HorizontalNav>
    <HorizontalNavItem>
      <GroupIntroduceInfos/>
    </HorizontalNavItem>

    <HorizontalNavItem>
      <GroupIntroduceInfos/>
    </HorizontalNavItem>

    <HorizontalNavItem>
      <GroupIntroduceInfos/>
    </HorizontalNavItem>

    <HorizontalNavItem>
      <GroupIntroduceInfos/>
    </HorizontalNavItem>

    <HorizontalNavItem>
      <GroupIntroduceInfos/>
    </HorizontalNavItem>
  </HorizontalNav>
</template>

<script>
import HorizontalNav from '@/components/nav/HorizontalNav'
import HorizontalNavItem from '@/components/nav/HorizontalNavItem'
import GroupIntroduceInfos from '@/components/group/GroupIntroduceInfos'

export default {
  components: {
    HorizontalNav,
    HorizontalNavItem,
    GroupIntroduceInfos,
  }
}
</script>