<template>
  <div>
    <a
      :href="network.intent"
      v-for="network in networks"
      :key="network"
      :class="`item item--${network.name.toLowerCase()}`"
      role="button"
      target="_blank"
    >
      <div class="item__icon">
        <font-awesome-icon :icon="['fab', network.name.toLowerCase()]" />
      </div>
      <div class="item__body">
        <div class="item__body__title">{{ network.name }}</div>
        <div class="item__body__subtitle">Convide seus amigos pelo {{ network.name }}</div>
      </div>
    </a>
  </div>
</template>

<script>
const message = encodeURI('Eu tô no Nixy, a primeira rede social brasileira de posts e comentários anônimos mas só para amigos 👀 Bora lá?!- https://nixy.club')

export default {
  data: () => ({
    networks: [
      {
        name: 'WhatsApp',
        intent: `whatsapp://send?text=${message}`
      },{
        name: 'Facebook',
        intent: `fb-messenger://share?link=https://nixy.club&app_id=229268748472330`
      }, {
        name: 'Twitter',
        intent: `twitter://post?message=${message}`
      }
    ]
  })
}
</script>

<style lang="scss" scoped>
  .item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;

    &:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }

    &:hover {
      background: rgba(#000, .075);
    }

    &__icon {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background: #39c;
      font-size: 25px;
      color: #fff;
    }

    &__body {
      &__title {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.5;
        color: $text-primary-color;
      }

      &__subtitle {
        font-size: 13px;
        line-height: 1.5;
        color: $subtext-color;
      }
    }

    &--whatsapp &__icon { background: #25d366 }
    &--facebook &__icon { background: #3b5998 }
    &--twitter &__icon { background: #00acee }
  }
</style>