<template>
  <GridInternal>
    <template #left>
      <LoadingBox v-if="isLoading"/>

      <Post
        v-else
        :post="post"
        :has-comments="true"
      />
    </template>
  </GridInternal>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
import GridInternal from '@/components/template/grid/GridInternal'
import Post from '@/components/post/Post'
import LoadingMixin from '@/mixins/LoadingMixin'

export default {
  components: {
    GridInternal,
    Post,
  },

  mixins: [LoadingMixin],

  async mounted () {
    this.setLoading(true)

    try {
      await this.getPost(this.$route.params.id)

      this.setPostTimelineCommentCount({
        id: this.post.id,
        count: this.post.comment_count
      })

      document.title = `Post: "${this.post.title}" / Nixy`
    } catch (err) {
      this.$router.replace({ name: 'home' })
    }

    this.setLoading(false)
  },

  computed: {
    ...mapGetters('post', ['post'])
  },

  methods: {
    ...mapActions('post', ['getPost']),

    ...mapMutations('post', ['setPostTimelineCommentCount'])
  }
}
</script>
