<template>
  <button class="base" v-bind="$attrs">
    <slot/>
  </button>
</template>

<style lang="scss" scoped>
  .base {
    border: 0;
    padding: 0;
    height: $button-height;
    background: transparent;
    user-select: none;

    ::v-deep(svg) { width: 30px; font-size: 22px }

    &[disabled] { opacity: .5 }

    &.default--hover {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: -8px;
        top: -4px;
        border-radius: 8px;
        width: calc(100% + 16px);
        height: calc(100% + 8px);
        background: rgba($primary-color, .2);
        opacity: 0;
        transition: .2s all;
      }

      &:hover:before { opacity: 1 }
    }
  }
</style>
