<template>
  <div class="button-group">
    <slot/>
  </div>
</template>

<style lang="scss" scoped>
  .button-group {
    display: flex;
    align-items: center;
    margin-left: -5px;
    scroll-margin-right: -5px;

    &::v-deep > *:not(.divisor) { margin: 0 5px }
  }
</style>