<template>
  <BaseButton
    v-bind="$attrs" class="button"
    :class="{'button--active' : active}"
  >
    <slot/>
  </BaseButton>
</template>

<script>
import BaseButton from './BaseButton'

export default {
  props: {
    active: { type: Boolean, default: false }
  },

  components: {
    BaseButton,
  }
}
</script>

<style lang="scss" scoped>
  .button {
    width: $button-height;
    background: transparent;
    border-radius: 100%;
    border: 2px solid $primary-color;

    &::v-deep(*) {
      font-size: 18px;
      color: $primary-color;
    }

    &::v-deep(svg) {
      width: 60%;
      fill: $primary-color
    }
  
    &--active {
      background: $primary-color;

      &::v-deep(svg) { fill: #fff }
    }

    &:hover:not(&--active) {
      background: rgba($primary-color, .2);
    }
  }
</style>