<template>
  <button class="button" v-bind="$attrs">
    <PlaneSVG class="button__icon"/>
    <span class="button__label">{{ placeholder }}</span>
  </button>
</template>

<script>
import PlaneSVG from '@/assets/svg/PlaneSVG'

export default {
  components: {
    PlaneSVG,
  },
  
  props: {
    placeholder: { type: String, default: '' }
  }
}
</script>

<style lang="scss" scoped>
  .button {
    $p: &;

    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 8px;
    border: 1px solid darken(#fff, 12);
    border-radius: 8px;
    background: rgba(#000, .04);

    &__label {
      font-size: 14px;
      color: darken(#fff, 60);
      font-weight: 500;
    }

    ::v-deep svg {
      height: 16px;
      fill: darken(#fff, 55);
      margin-right: 8px;
    }

    &.type-transparent {
      background: rgba(#fff, .1);
      border: 0;
      color: #fff;

      ::v-deep svg {
        fill: rgba(#fff, .4);
      }

      #{$p}__label {
        color: darken(#fff, 30);
      }
    }
  }
</style>