<template>
  <BaseButton
    v-bind="$attrs" class="button"
    :class="{'button--active' : active}"
  >
    <slot/>
  </BaseButton>
</template>

<script>
import BaseButton from './BaseButton'

export default {
  props: {
    active: { type: Boolean, default: false }
  },

  components: {
    BaseButton,
  }
}
</script>

<style lang="scss" scoped>
  .button {
    padding: 0 20px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;

    color: #fff;
    background: $primary-color;
    border: 2px solid transparent;

    &--size-2 {
      height: 40px;
    }

    &--light {
      color: $background-color;
      background: #fff;
    }

    &--dark {
      background: $background-secondary-color;
    }

    &--outline {
      color: $primary-color;
      background: transparent;
      border-color: $primary-color;

      &:hover:not(&--active) { background: rgba($primary-color, .2) }
    }

    ::v-deep svg { width: 24px }
  }
</style>