<template>
  <BaseButton v-bind="$attrs" class="button">
    <slot/>
  </BaseButton>
</template>

<script>
import BaseButton from './BaseButton'

export default {
  components: {
    BaseButton,
  }
}
</script>

<style lang="scss" scoped>
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    border: 1px solid $border-color;
    background: #fff;
    border-radius: 5px;
    transition: .5s all;

    &:hover {
      background-color: lighten(#000, 95);
    }
  }
</style>