<template>
  <BaseButton
    v-bind="$attrs" class="button"
    :class="{'button--active' : active}"
  >
    <slot/>
  </BaseButton>
</template>

<script>
import BaseButton from './BaseButton'

export default {
  props: {
    active: { type: Boolean, default: false }
  },

  components: {
    BaseButton,
  }
}
</script>

<style lang="scss" scoped>
  .button {
    background: transparent;
    border-radius: 5px;
    color: $primary-color;
    font-size: 14px;
    font-weight: 600;
    padding: 0 10px;

    &.gray { color: gray }

    &--active {
      background: $primary-color;

      &::v-deep svg { fill: #fff }
    }

    &:hover:not(&--active) {
      background: rgba($primary-color, .2);
    }
  }
</style>