<template>
  <div class="notification">
    <slot />
  </div>
</template>

<style lang="scss" scoped>
  .notification {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #f02849;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    padding: 0 5px;

    &.position--top-right {
      position: absolute;
      top: -5px;
      right: -5px;
    }

    &.position--inner-top-right {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(calc(-50% + 10px), calc(-50% - 10px));
    }
  }
</style>