<template>
  <div class="pill">
    <slot />
  </div>
</template>

<style lang="scss" scoped>
  .pill {
    padding: 0 5px;
    border-radius: 5px;
    display: inline-block;
    background: rgba(#000, .4);
    color: #fff;
    font-size: 11px;
  }
</style>