<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>favicon-16x16.png">
    <link rel="manifest" href="<%= BASE_URL %>site.webmanifest">
    <link rel="mask-icon" href="<%= BASE_URL %>safari-pinned-tab.svg" color="#FF6348">
    <meta name="msapplication-TileColor" content="#FF6348">
    <meta name="theme-color" content="#FF6348">
    <title>Nixy - A rede social da #ousadia e #sinceridade</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <style>
        #global-loading {
            position: fixed;
            top: 0;
            left: 0;
            background: #2B3237;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1000;
            transition: 10s opacity;
          }

          #global-loading svg {
            transition: 1s all;
            fill: rgba(255, 255, 255, .25);
            width: 100px;
          }

          #global-loading.loaded {
            animation: fadeOut .5s linear 1s 1 forwards;
          }

          #global-loading.loaded svg {
            fill: #FF6348;
          }
        </style>
        
        <div id="global-loading">
            <svg viewBox="0 0 152 213" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M23.8068 46.4266C36.4745 46.4266 46.7437 36.1574 46.7437 23.4897C46.7437 10.8219 36.4745 0.552734 23.8068 0.552734C11.1391 0.552734 0.869875 10.8219 0.869875 23.4897C0.869875 36.1574 11.1391 46.4266 23.8068 46.4266ZM27.7734 100.751C13.0029 80.8144 0.917588 64.388 0.917588 64.2464C0.917588 64.1055 11.2236 64.0805 23.8195 64.1903L46.7214 64.3911L60.5822 84.0851C68.206 94.9168 74.8679 104.414 75.3876 105.19C76.2321 106.451 77.891 104.351 91.0792 85.316L105.826 64.0305L128.442 64.0214C147.854 64.0138 150.997 64.1676 150.637 65.1069C150.406 65.7091 138.418 82.0968 123.996 101.524C98.4212 135.977 97.8047 136.89 98.9394 138.623C99.5802 139.6 111.693 156.616 125.857 176.437L151.611 212.475H128.608H105.606L91.7707 191.077C84.1612 179.307 77.5297 169.23 77.0335 168.682C76.3139 167.886 73.1606 172.221 61.4707 190.08L46.8107 212.475H23.7998H0.788818L3.39146 208.877C4.82231 206.898 15.8123 191.474 27.8121 174.602C39.8126 157.729 50.7549 142.367 52.1296 140.462L54.6285 136.998L27.7734 100.751ZM151.321 10.1392H105.447V36.8404H151.321V10.1392Z" />
            </svg>
        </div>
    </style>
    
    
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
