<template>
  <div class="item">
    <span class="item__count">
      <span class="item__icon">
        <slot name="icon" />
      </span>

      <span>
        <slot name="stats" />
      </span>
    </span>

    <span class="item__label">
      <slot name="label" />
    </span>
  </div>
</template>

<style lang="scss" scoped>
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: $background-secondary-color;
    border-radius: var(--nixy-border-radius);
    padding: 10px 0;

    &__icon {
      margin-right: 8px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
    }

    &__count {
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 14px;
      margin-bottom: 3px;
    }

    &__label {
      font-size: 13px;
      color: $text-secondary-color;
    }
  }
</style>