<template>
  <BaseModal :is-loading="isLoading">
    <template #title>Comentário anônimo</template>

    <template #button>
      <PrimaryButton
        :disabled="v$.$invalid"
        @click="submit"
      >enviar</PrimaryButton>
    </template>

    <div class="post__title">{{ post.title }}</div>

    <ResizableInput
      class="type--transparent"
      v-model="body"
      :maxlength="maxlength"
      placeholder="Lança o comentário brabo!"
      ref="input"
      tabindex="0"
      @enter="() => v$.$invalid || submit()"
    />

    <div class="disclaimer">
      Você pode comentar apenas uma vez em cada post. Após enviado, não poderá editar ou excluir. Então, <strong>capricha!</strong>
    </div>
  </BaseModal>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'
import BaseModal from '@/components/modal/BaseModal'
import PrimaryButton from '@/components/buttons/PrimaryButton'
import { required, minLength } from '@vuelidate/validators'
import ResizableInput from '@/components/form/input/ResizableInput'
import useVuelidate from '@vuelidate/core'

export default {
  components: {
    BaseModal,
    PrimaryButton,
    ResizableInput,
  },

  emmits: ['created'],

  setup () {
    return {
      v$: useVuelidate()
    }
  },

  data: () => ({
    isLoading: false,
    body: '',
    maxlength: 100
  }),

  validations () {
    return {
      body: { required, minLength: minLength(3)}
    }
  },

  mounted () {
    setTimeout(() => this.$refs.input.$el.focus(), 500)
  },

  props: {
    post: { type: Object, required: true }
  },

  methods: {
    ...mapActions('post', ['createUserPost']),

    ...mapActions('comment', ['createPostComment']),

    async submit () {
      this.isLoading = true

      await this.createPostComment({
        id: this.post.id,
        body: this.body,
      })

      this.$emit('created')

      this.$vfm.hideAll();

      this.isLoading = false
    }
  }
}
</script>

<style lang="scss" scoped>
  .post {
    &__title {
      font-weight: 700;
      font-size: 15px;
      line-height: 20px;
      margin-bottom: 16px;
      color: $text-secondary-color;
    }
  }

  .disclaimer {
    font-size: 12px;
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid rgba(#fff, .2);
    color: rgba(#fff, .6);
  }
</style>