<template>
  <div>
    <Dropdown>
      <template #button>
        <BaseButton class="button">
          <font-awesome-icon :icon="['fa', 'ellipsis-h']" />
        </BaseButton>
      </template>

      <DropdownItem
        v-if="!comment.is_my"
        @click.prevent="report"
      >Denunciar</DropdownItem>
    </Dropdown>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import BaseButton from '../buttons/BaseButton.vue'
import Dropdown from '../utils/Dropdown.vue'
import DropdownItem from '../utils/DropdownItem.vue'
import { reportComment } from '@/api/report.api'
import { useToast } from "vue-toastification"

export default {
  components: {
    Dropdown,
    DropdownItem,
    BaseButton,
  },

  props: {
    comment: { type: Object, required: true }
  },

  methods: {
    report () {
      this.showConfirmation({
        title: 'Denunciar comentário',
        message: `
          <strong>O conteúdo desse comentário se encaixa em algum dos pontos abaixo?</strong>
          <ul class="mt-2">
            <li>Ofensivo</li>
            <li>Preconceituoso</li>
          <li>Apologia a algum crime</li>
          </ul>
        `,
        confirmText: 'Denunciar',
        confirm: () => this.reportComment()
      })
    },

    reportComment () {
      reportComment(this.comment.id)
      const toast = useToast()
      toast('Recebemos sua denúncía. Nossa Equipe de moderação estará analisando para tomar as devidas ações.')
    }
  }
}
</script>

<style lang="scss" scoped>
  .button {
    color: $subtext-color;

    ::v-deep(.fa-ellipsis-h) {
      font-size: 16px;
    }
  }
</style>