<template>
  <BaseModal>
    <template #title>
      <slot name="title">Tem certeza?</slot>
    </template>

    <div class="message">
      <slot name="message" />
    </div>

    <div class="buttons d-flex align-items-center justify-content-center">
      <PrimaryButton class="me-2" @click="confirm">
        <slot name="confirmText">Confirmar</slot>
      </PrimaryButton>
      <TextButton class="gray" @click="cancel">
        <slot name="cancelText">Cancelar</slot>
      </TextButton>
    </div>
  </BaseModal>
</template>

<script>
import BaseModal from '@/components/modal/BaseModal'
import PrimaryButton from '../buttons/PrimaryButton.vue'
import TextButton from '../buttons/TextButton.vue'

export default {
  components: {
    BaseModal,
    PrimaryButton,
    TextButton,
  },

  methods: {
    confirm () {
      this.$emit('confirm')
      this.$vfm.hideAll()
    },

    cancel () {
      this.$emit('cancel')
      this.$vfm.hideAll()
    }
  }
}
</script>

<style lang="scss" scoped>
  ::v-deep .bm {
    max-width: 400px;
  }

  .buttons {
    border-top: 1px solid $border-secondary-color;
    margin-top: 16px;
    padding-top: 16px;

    & > * { flex: 1}
  }
</style>