<template>
  <div v-if="isVisible" class="install">
    <div class="install__content" role="button" @click="install">
      <img src="@/assets/img/logo-icon.png" class="install__icon">

      <div class="install__text">
        <div>
          Instalar Nixy no seu dispositivo
        </div>
      </div>

      <div class="install__close" role="button" @click="close">
        <font-awesome-icon :icon="['fa', 'times']" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    installPrompt: null,
    isVisible: true,
  }),
  
  created () {
    let installPrompt

    window.addEventListener('beforeinstallprompt', e => {
      e.preventDefault()
      this.installPrompt = e
      this.isVisible = true
    })
  },

  methods: {
    async install () {
      this.isVisible = false
      this.installPrompt.prompt()

      const result = await this.installPrompt.userChoice

      if (result.outcome !== 'accepted') {
        this.isVisible = true
      }
    },

    close () {
      this.isVisible = false
    }
  }
}
</script>

<style lang="scss" scoped>
  .install {
    z-index: 10;
    position: fixed;
    top: var(--the-header-height);
    width: 100%;

    &__content {
      flex: 1 1 100%;
      display: inline-flex;
      align-items: center;
      gap: 16px;
      background: $background-secondary-color;
      padding: 5px 15px 5px 5px;
    }

    &__text {
      font-weight: 700;
      font-size: 14px;
    }

    &__icon {
      width: 50px;
      border-radius: 100%;
    }

    &__close {
      padding: 0 5px;
      color: darken(#fff, 60);
    }
  }
</style>