<template>
  <div class="box text-center">
    <LoadingSVG/>
  </div>
</template>

<script>
import LoadingSVG from '../../assets/svg/LoadingSVG.vue'

export default {
  components: {
    LoadingSVG,
  }
}
</script>

<style lang="scss" scoped>
  .box {
    padding: 60px 0;
    ::v-deep svg { width: 100px }
  }
</style>