<template>
  <span class="disclaimer">
    <slot/>
  </span>
</template>

<style lang="scss" scoped>
  .disclaimer {
    color: $text-secondary-color;
    font-size: 13px;
    font-weight: 400;
  }
</style>