<template>
  <span class="naming">
    <slot/>
  </span>
</template>

<style lang="scss" scoped>
  .naming {
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: #fff;
  }
</style>