<template>
  <span>
    <slot />
  </span>
</template>

<style lang="scss" scoped>
  span {
    padding: 8px 0;
    display: block;
    text-align: center;
    font-size: 14px;
    color: $text-primary-color;
  }
</style>