<template>
  <div
    class="navbar-item"
    :class="{ 'navbar-item--active' : isActive }"
  >
    <div class="navbar-item__content">
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  props: {
    routeMatch: { type: [String, Array], default: null }
  },

  computed: {
    isActive () {
      if (Array.isArray(this.routeMatch)) {
        return this.routeMatch.includes(this.$route.name)
      }

      return this.$route.name === this.routeMatch
    }
  }
}
</script>

<style lang="scss" scoped>
  .navbar-item {
    $p: &;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgba(#fff, .09);

    &__content {
      flex: 1;
      position: relative;
      display: flex;
      justify-content: center;
      align-content: center;
      
      & > ::v-deep(*) {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: darken(#fff, 40);
        font-size: 18px;
        text-align: center;
        position: relative;
        z-index: 3;
      }
    }

    &:not(&--active):hover &__content {
      ::v-deep(.item) { color: $primary-color }
    }

    &--active {
      background: $primary-color;

      #{$p}__content  > ::v-deep(*) {
        color: #fff;
      }
    }

    @media (max-width: 768px) {
      flex: 1;
      height: auto;
      height: 50px;
      background: transparent;
      border-radius: 0;
      border-bottom: 3px solid transparent;

      ::v-deep(.item) { font-size: 20px }

      &--active {
        border-color: $primary-color;
        ::v-deep(.item) { color: $primary-color }
      }
    }
  }
</style>