<template>
  <div class="alert">
    <div class="alert__header">
      <font-awesome-icon
        v-if="icon"
        :icon="['fa', icon]"
        class="alert__header__icon"
      />

      <span>
        <slot name="title" />
      </span>
    </div>

    <div class="alert__body">
      <slot name="body" />
    </div>
  </div>
</template>

<script>

export default {
  props: {
    icon: { type: String, default: null }
  },
}
</script>

<style lang="scss" scoped>
  .alert {
    background: #fff;

    &__header {
      display: flex;
      gap: 8px;
      align-items: center;
      margin-bottom: 12px;
      padding: 4px 4px 12px 4px;
      color: $primary-color;
      border-bottom: 1px solid $primary-color;

      span {
        font-size: 14px;
        line-height: 1.5;
        font-weight: 700;
      }
    }

    &__body {
      color: $text-primary-color;
      font-size: 15px;
      line-height: 1.5;

      & > ::v-deep(p):not(:last-child) { margin-bottom: 12px }

      ::v-deep(p.hl) {
        color: $primary-color;
      }
    }
  }
</style>