<template>
  <vue-final-modal
    v-slot="{ params, close }"
    v-bind="$attrs"
    classes="modal-container"
    content-class="bm"
  >
    <div v-if="isLoading" class="bm__loading">
      <LoadingSVG/>
    </div>
    
    <div
      class="bm__header"
      :class="{'bm__header--has-button' : $slots.button}"
    >
      <button
        class="bm__close-button"
        @click="close"
      >
        <CloseSVG />
      </button>

      <div class="bm__text">
        <div class="bm__text__title">
          <slot name="title"/>
        </div>

        <div
          v-if="$slots.subtitle"
          class="bm__text__subtitle"
        >
          <slot name="subtitle"/>
        </div>
      </div>

      <div
        v-if="$slots.button"
        class="bm__button"
      >
        <slot name="button" />
      </div>
    </div>

    <div class="bm__body">
      <slot v-bind:params="params"/>
    </div>
  </vue-final-modal>
</template>

<script>
import CloseSVG from '@/assets/svg/CloseSVG'
import LoadingSVG from '@/assets/svg/LoadingSVG'

export default {
  components: {
    CloseSVG,
    LoadingSVG,
  },

  mounted () {
  },

  props:  {
    isLoading: {
      type: Boolean,
      default: false,
    }
  },
}
</script>

<style scoped lang="scss">
  $gap: 30px;

  ::v-deep {
    .vfm--overlay {
      padding-bottom: 100px;
      background: $background-overlay;
    }

    .modal-container {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin: 80px 0;
    }

    .bm {
      $p: &;

      width: 100%;
      max-height: 100%;
      max-width: 600px;
      border-radius: 10px;
      background: lighten(#000, 15%);
      overflow: hidden;
      position: relative;

      display: flex;
      flex-direction: column;

      @media (max-width: 768px) {
          border-radius: 0 !important;
      }

      &__loading {
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(#000, .65);

        svg { height: 80px }
      }

      &__header {
        position: relative;
        display: flex;
        padding: 15px;
        padding-left: calc(56px + 15px);
        background: #2B3237;
        justify-content: space-around;
        align-items: center;
      }

      &__body {
        padding: 1.25rem;
        overflow: auto;

        // @media (max-width: 768px) {
        //   max-height: calc(100vh - 54px);
        // }
      }

      &__text {
        padding-right: 16px;

        &__title {
          font-size: 1rem;
          font-weight: 700;
        }

        &__subtitle {
          font-size: 13px;
        }

        &__title,
        &__subtitle { margin-left: -56px }
      }

      &__header--has-button {
        .bm__text {
          margin-right: auto;
          padding-left: 56px;
        }
      }

      &__button {
        display: flex;
        align-items: center;
        right: 0;
        top: 0;
        height: 100%;
        // margin-left: auto;
      }

      &__close-button {
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 20px;
        height: 100%;
        border-right: 1px solid darken(#fff, 70%);
        background: transparent;
        border: 0;

        svg { width: 16px; fill: #fff }

        &:hover {
          background: rgba(#fff, .05);
        }
      }
    }

    @media (max-width: 550px) {
      .modal-container {
        margin: 0;
      }

      .bm {
        height: 100%;
      }
    }
  }
</style>