<template>
  <h2 class="heading">
    <slot/>
  </h2>
</template>

<style lang="scss" scoped>
  .heading {
    font-size: 1.125rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;

    &.primary { color: $text-primary-color }

    &.dark { color: #000 }
  }
</style>