<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path d="m21 18h-1.028c-.061-.249-.241-.457-.493-.537-1.922-.613-4.035-.613-5.957 0-.252.08-.432.288-.493.537h-2.057c-.061-.249-.241-.457-.493-.537-1.922-.613-4.035-.613-5.957 0-.253.08-.432.288-.493.537h-1.029c-.553 0-1 .448-1 1s.447 1 1 1h1v.201c0 1.233.91 2.272 2.164 2.473l1.833.292c.141.023.282.034.423.034.623 0 1.227-.219 1.703-.625.558-.476.877-1.161.877-1.881v-.494h2v.494c0 .72.319 1.405.877 1.881.477.406 1.08.625 1.703.625.141 0 .282-.011.423-.034l1.833-.292c1.254-.2 2.164-1.24 2.164-2.473v-.201h1c.553 0 1-.448 1-1s-.447-1-1-1z"/>
    <path d="m17 7.367v-1.432c0-.953-.48-1.824-1.285-2.332-.806-.508-1.797-.565-2.655-.152l-.31.089c0-.849-.69-1.54-1.538-1.54h-1.462c-1.517 0-2.75 1.236-2.75 2.755v2.612c-4.128.633-7 2.019-7 3.633 0 2.209 5.373 4 12 4s12-1.791 12-4c0-1.614-2.872-3-7-3.633z"/>
  </svg>
</template>