<template>
  <svg viewBox="0 0 223 195" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M51.951 1.06096C21.113 5.60096 -2.21001 37.087 0.372988 70.689C1.50499 85.42 7.43999 99.753 17.226 111.392C22.457 117.614 34.771 125.569 43.075 128.091L50 130.195V144.647C50 163.389 51.163 166 59.515 166C62.503 166 64.323 164.509 76.299 152.25C83.688 144.688 91.189 136.813 92.97 134.75L96.207 131L107.354 130.983C113.484 130.973 121.477 130.334 125.115 129.563C141.893 126.007 158.064 113.07 165.819 97C171.751 84.706 173.288 77.055 172.747 62.5C172.368 52.289 171.854 49.302 169.299 42.465C160.62 19.239 143.691 4.75096 120.911 1.05496C113.475 -0.151036 60.154 -0.147036 51.951 1.06096ZM131.066 46.035C132.302 46.697 133 48.127 133 50C133 51.873 132.302 53.303 131.066 53.965C129.818 54.632 113.84 55 86.066 55C44.333 55 42.938 54.938 41 53C39.9 51.9 39 50.55 39 50C39 49.45 39.9 48.1 41 47C42.938 45.062 44.333 45 86.066 45C113.84 45 129.818 45.368 131.066 46.035ZM184 74.34C184 80.103 180.172 93.176 176.048 101.5C163.288 127.252 139.713 142 111.309 142C103.091 142 100.82 142.306 100.371 143.475C98.925 147.244 111.089 160.008 120.252 164.335C126.635 167.349 135.156 169.013 143.934 168.96L150.5 168.92L162.5 181.464C175.676 195.239 178.495 196.846 183.037 193.174C185.339 191.314 185.533 190.417 186 179.449L186.5 167.714L190.714 166.473C203.774 162.627 215.446 150.339 220.61 135C223.157 127.435 223.161 111.586 220.618 104C215.596 89.017 204.356 77.292 190.572 72.657C184.051 70.464 184 70.477 184 74.34ZM97.8 80.2C99.343 81.743 99.343 85.257 97.8 86.8C96.926 87.674 89.234 88 69.455 88C43.562 88 42.226 87.908 40.496 85.996C38.998 84.34 38.88 83.558 39.82 81.496L40.957 79H68.779C89.084 79 96.924 79.324 97.8 80.2Z"/>
  </svg>
</template>
