<template>
  <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
    <path d="M11.25 9C11.25 10.2427 10.2427 11.25 9 11.25C7.75731 11.25 6.75 10.2427 6.75 9C6.75 7.75731 7.75731 6.75 9 6.75C10.2427 6.75 11.25 7.75731 11.25 9Z"/>
    <path d="M4.5 9C4.5 10.2427 3.49269 11.25 2.25 11.25C1.00731 11.25 0 10.2427 0 9C0 7.75731 1.00731 6.75 2.25 6.75C3.49269 6.75 4.5 7.75731 4.5 9Z"/>
    <path d="M18 9C18 10.2427 16.9927 11.25 15.75 11.25C14.5073 11.25 13.5 10.2427 13.5 9C13.5 7.75731 14.5073 6.75 15.75 6.75C16.9927 6.75 18 7.75731 18 9Z"/>
  </svg>
</template>