<template>
  <svg viewBox="0 0 20 18" xmlns="http://www.w3.org/2000/svg">
    <path d="M14.6875 0.171875C13.6022 0.171875 12.6072 0.515781 11.7302 1.19406C10.8894 1.84434 10.3296 2.67258 10 3.27484C9.67043 2.67254 9.11063 1.84434 8.2698 1.19406C7.39277 0.515781 6.39777 0.171875 5.3125 0.171875C2.28391 0.171875 0 2.6491 0 5.93414C0 9.48313 2.84934 11.9113 7.16285 15.5872C7.89535 16.2114 8.72562 16.919 9.58859 17.6737C9.70234 17.7733 9.84844 17.8281 10 17.8281C10.1516 17.8281 10.2977 17.7733 10.4114 17.6737C11.2745 16.9189 12.1047 16.2114 12.8376 15.5868C17.1507 11.9113 20 9.48313 20 5.93414C20 2.6491 17.7161 0.171875 14.6875 0.171875Z"/>
  </svg>
</template>