<template>
  <svg height="44" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
  <circle opacity="0" fill="#FF6348" cx="29.883" cy="48.438" r="5.969">
    <animate attributeName="opacity" begin=".1" values="0;1;0"  dur="1s" repeatCount="indefinite" />
  </circle>
  <circle opacity="0" fill="#FF6348" cx="49.522" cy="48.438" r="5.969">
    <animate attributeName="opacity" begin=".2" values="0;1;0"  dur="1s" repeatCount="indefinite" />
  </circle>
  <circle opacity="0" fill="#FF6348" cx="68.199" cy="48.438" r="5.969">
    <animate attributeName="opacity" begin=".3" values="0;1;0"  dur="1s" repeatCount="indefinite" />
  </circle>
  </svg>
</template>

<style lang="scss" scoped>
  .white circle { fill: #fff }
</style>