<template>
  <svg viewBox="0 0 23 20" xmlns="http://www.w3.org/2000/svg">
    <path d="M22.6982 0.133293C22.4778 -0.0229151 22.1884 -0.0439984 21.9488 0.0815433L0.386251 11.342C0.131334 11.4752 -0.0191241 11.7473 0.00195929 12.0339C0.024001 12.3214 0.21471 12.5667 0.485918 12.6597L6.4803 14.7086L19.2463 3.79317L9.36776 15.6947L19.414 19.1284C19.4887 19.1533 19.5673 19.1668 19.6459 19.1668C19.7762 19.1668 19.9056 19.1313 20.0197 19.0623C20.2017 18.9511 20.3254 18.7643 20.357 18.5544L22.9924 0.82521C23.0317 0.556877 22.9186 0.29046 22.6982 0.133293Z"/>
  </svg>
</template>