<template>
  <div class="d-flex align-items-center">
    <IconButton @click="openModal">
      <DotsSVG/>
    </IconButton>
  </div>
</template>

<script>
import UserProfileOptionsModal from '@/components/user/profile/UserProfileOptionsModal'
import IconButton from '@/components/buttons/IconButton'
import DotsSVG from '@/assets/svg/DotsSVG'

export default {
  components: {
    IconButton,
    DotsSVG,
  },

  methods: {
    openModal () {
      this.$vfm.show({ component: UserProfileOptionsModal })
    }
  }
}
</script>