<template>
  <BaseModal :is-loading="isLoading">
    <template #title>Editando perfil</template>
    <template #button>
      <PrimaryButton
        class="button--light"
        :disabled="$refs.form?.v$.$invalid"
        @click="submit"
      >salvar</PrimaryButton>
    </template>

    <UserProfileEditForm :errors="errors" ref="form"/>

  </BaseModal>
</template>

<script>
import BaseModal from '@/components/modal/BaseModal'
import UserProfileEditForm from '@/components/user/profile/UserProfileEditForm'
import PrimaryButton from '../../buttons/PrimaryButton.vue'
import { mapActions } from 'vuex'

export default {
  components: {
    BaseModal,
    UserProfileEditForm,
    PrimaryButton,
  },

  data: () => ({
    isLoading: false,
    errors: []
  }),

  methods: {
    ...mapActions('user', ['updateUser']),

    async submit () {
      this.isLoading = true

      try {
        await this.updateUser(this.$refs.form.user)

        this.$vfm.hideAll()
      } catch (err) {
        this.errors = err.response.data.errors

        this.isLoading = false
      }

      this.isLoading = false
    }
  },
}
</script>