<template>
  <UserProfileStatsItem color="#EE1144">
    <template #icon>
      <font-awesome-icon :icon="['fas', 'heart']" />
    </template>
    <template #legend>LIKES</template>
    <template #value>{{ user.like_count }}</template>
  </UserProfileStatsItem>
</template>

<script>
import DotsSVG from '@/assets/svg/DotsSVG'
import UserProfileStatsItem from './UserProfileStatsItem'

export default {
  components: {
    UserProfileStatsItem,
    DotsSVG,
  },

  props: {
    user: { type: Object, required: true }
  }
}
</script>
