<template>
  <PrimaryButton
    v-if="friendship.can_request_friendship || friendship.has_friendship || friendship.has_friendship_request_sent || friendship.has_friendship_request"
    @click="handleAction"
    :disabled="isLoading"
  >
    <LoadingSVG v-if="isLoading" class="white" />

    <span v-else>
      <span v-if="friendship.has_friendship || friendship.has_friendship_request_sent">Desfazer amizade</span>
      <span v-else-if="friendship.can_request_friendship && !friendship.has_friendship && !friendship.has_friendship_request_sent && !friendship.has_friendship_request">Iniciar amizade</span>
      <span v-else-if="friendship.has_friendship_request">Aceitar amizade</span>
    </span>
  </PrimaryButton>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import {
  getUserFriendship,
  requestFriendship,
  destroyFriendship
} from '@/api/friendship.api'
import PrimaryButton from '@/components/buttons/PrimaryButton'
import LoadingSVG from '@/assets/svg/LoadingSVG.vue'

export default {
  components: {
    PrimaryButton,
    LoadingSVG,
  },

  props: {
    user: { type: Object, required: true },
  },

  data: () => ({
    isLoading: true,
    friendship: {}
  }),

  async mounted () {
    if (typeof this.user.friendship === 'undefined') {
      await this.fetchFriendship()
    } else {
      this.friendship = this.user.friendship
    }

    this.isLoading = false
  },

  computed: {
    ...mapGetters('user', {
      loggedUser: 'user'
    })
  },

  methods: {
    ...mapMutations('user', ['increaseUserFriendCount', 'decreaseUserFriendCount']),

    async fetchFriendship () {
      this.friendship = await getUserFriendship(this.loggedUser.id, this.user.id)
    },

    async handleAction () {
      this.isLoading = true

      if (this.friendship.has_friendship_request || (!this.friendship.has_friendship && !this.friendship.has_friendship_request && !this.friendship.has_friendship_request_sent)) {
        await this.requestFriendship()
      } else if (this.friendship.has_friendship) {
        this.showConfirmation({
          message: `Você esta desfazendo a amizade com <strong>${this.user.name}</strong>`,
          confirm: async () => await this.destroyFriendship()
        })
      } else {
        await this.destroyFriendship()
      }

      this.isLoading = false
    },

    async requestFriendship () {
        const res = await requestFriendship(this.user.id)

        this.friendship = res.friendship

        if (this.friendship.has_friendship) {
          this.increaseUserFriendCount()
        }
    },

    async destroyFriendship () {
        const res = await destroyFriendship(this.user.id)

        if (this.friendship.has_friendship) {
          this.decreaseUserFriendCount()
        }
      
        this.friendship = res.friendship
    }
  }
}
</script>