<template>
  <BaseModal>
    <template #title>Opções</template>

    <UserProfileOptionsMenu/>
  </BaseModal>
</template>

<script>
import BaseModal from '@/components/modal/BaseModal'
import UserProfileOptionsMenu from '@/components/user/profile/UserProfileOptionsMenu'

export default {
  components: {
    BaseModal,
    UserProfileOptionsMenu,
  }
}
</script>