<template>
  <UserProfileStatsItem color="#00AAB8">
    <template #icon>
      <font-awesome-icon :icon="['fas', 'user-secret']" />
    </template>
    <template #legend>POSTS</template>
    <template #value>{{ user.post_count }}</template>
  </UserProfileStatsItem>
</template>

<script>
import DotsSVG from '@/assets/svg/DotsSVG'
import UserProfileStatsItem from './UserProfileStatsItem'

export default {
  components: {
    UserProfileStatsItem,
    DotsSVG,
  },

  props: {
    user: { type: Object, required: true }
  }
}
</script>
