<template>
  <TextButton @click="openModal">editar perfil</TextButton>
</template>

<script>
import TextButton from '@/components/buttons/TextButton'
import UserProfileEditModal from './UserProfileEditModal.vue'

export default {
  components: {
    TextButton,
  },

  methods: {
    openModal () {
      this.$vfm.show({ component: UserProfileEditModal })
    }
  }
}
</script>