<template>
  <section class="profile">
    <div class="d-flex align-items-center flex-column flex-lg-row">
      <picture
        class="profile__picture mb-3 mb-lg-0 me-lg-3 me-0"
        :style="{ backgroundImage: `url(${user.picture})`}"
      ></picture>

      <div class="profile__user text-center text-lg-start">
        <div class="profile__user__name">{{ user.name }}</div>
        <div class="profile__user__slug">@{{ user.slug }}</div>

        <ButtonGroup class="mt-3 justify-content-center justify-content-md-start">
          <UserProfileFollowButton :user="user" v-if="user.id !== userLogged.id"/>

          <UserProfileOptionsButton :user="user" v-if="user.id !== userLogged.id" />

          <UserProfileEditButton :user="user" v-if="user.id === userLogged.id"/>
        </ButtonGroup>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import ButtonGroup from '@/components/buttons/ButtonGroup'
import UserProfileFollowButton from '@/components/user/profile/UserProfileFollowButton'
import UserProfileOptionsButton from '@/components/user/profile/UserProfileOptionsButton'
import UserProfileEditButton from '@/components/user/profile/UserProfileEditButton'

export default {
  components: {
    ButtonGroup,
    UserProfileFollowButton,
    UserProfileOptionsButton,
    UserProfileEditButton,
  },

  props: {
    user: { type: Object, required: true }
  },

  computed: {
    ...mapGetters('user', {userLogged: 'user'})
  }
}
</script>

<style lang="scss" scoped>
  .profile {
    background: $background-secondary-color;
    border-radius: var(--nixy-border-radius);
    padding: 30px;

    &__picture {
      flex: 0 0 auto;
      display: block;
      width: 100px;
      height: 100px;
      background-size: cover;
      background-position: center;
      border-radius: 100%;
      border: 4px solid #fff;
    }

    &__user {
      &__name {
        font-size: 1.25rem;
        line-height: 1.125rem;
        font-weight: 700;
      }

      &__slug {
        color: $text-secondary-color;
        font-size: 15px;
      }
    }
  }
</style>