<template>
  <HorizontalNav>
    <HorizontalNavItem>
      Bloquear
    </HorizontalNavItem>

    <HorizontalNavItem>
      Denunciar
    </HorizontalNavItem>
  </HorizontalNav>
</template>

<script>
import HorizontalNav from '../../nav/HorizontalNav.vue'
import HorizontalNavItem from '../../nav/HorizontalNavItem.vue'

export default {
  components: {
    HorizontalNav,
    HorizontalNavItem,
  }
}
</script>