<template>
  <div class="row">
    <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
        <UserPicture :user="user">
          <UploadOverlayInput @upload="uploadPicture">
            <template #icon>
              <font-awesome-icon :icon="['fa', 'camera']" />
            </template>
          </UploadOverlayInput>
        </UserPicture>
        <div class="text-danger" v-if="errors['picture_file']">
          <small>{{ errors['picture_file'].join(',') }}</small>
        </div>
    </div>
    
    <div class="col-md-8">
      <OutlineInput
        name="name"
        placeholder="Nome"
        v-model="user.name"
        :validation="v$.user.name"
        :errors="errors"
      />

      <OutlineInput
        name="slug"
        placeholder="Usuário"
        pre-text="@"
        v-model="user.slug"
        :validation="v$.user.slug"
        :errors="errors"
        pattern="^[a-zA-Z0-9\-]+$"
      />
    </div>
  </div>
</template>

<script>
import { required, helpers } from '@vuelidate/validators'

import { mapGetters } from 'vuex'
import useVuelidate from '@vuelidate/core'
import OutlineInput from '@/components/form/input/OutlineInput'
import UserPicture from '../UserPicture.vue'
import UploadOverlayInput from '@/components/form/input/UploadOverlayInput'

export default {
  components: {
    OutlineInput,
    UserPicture,
    UploadOverlayInput,
  },

  props: {
    errors: { type: Object, default: () => ({}) }
  },

  setup () {
    return { v$: useVuelidate() }
  },

  mounted () {
    Object.assign(this.user, this.userComputed)
  },

  data: () => ({
    user: {
      picture: ''
    },
  }),

  validations() {
    return {
      user: {
        name: { required },
        slug: { required }
      }
    }
  },

  computed: {
    ...mapGetters('user', {userComputed: 'user'}),
  },

  methods: {
    uploadPicture (file) {
      this.user.picture_file = file
      this.user.picture = URL.createObjectURL(file)
    }
  }
}
</script>