<template>
  <div class="stats">
    <picture
      class="stats__icon"
      :style="{backgroundColor: color}"
    >
      <slot name="icon"/>
    </picture>

    <div>
      <div class="stats__legend">
        <slot name="legend"/>
      </div>

      <div class="stats__value">
        <slot name="value"/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    color: { type: String, default: null }
  }
}
</script>

<style lang="scss" scoped>
  .stats {
    display: flex;
    align-items: center;

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: 38px;
      border-radius: 100%;
      margin-right: 10px;
      font-size: 22px;

      &::v-deep svg { fill: #fff; width: 60% }
    }

    &__legend {
      font-size: 13px;
    }

    &__value {
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: 700;
    }

    @media (max-width: $lg-breaking-point) {
      flex-direction: column;
      text-align: center;

      &__icon { margin-right: 0; margin-bottom: 5px }
    }
  }
</style>