<template>
  <section>
    <SectionHeading class="text-center text-lg-start">
      Atividades
    </SectionHeading>

    <UserProfileStatsList :user="user" class="mb-3"/>

    <!-- <DisclaimerText>
      * Para manter a privacidade, essas informações não são atualizadas em tempo real.
    </DisclaimerText> -->
  </section>
</template>

<script>
import SectionHeading from '@/components/typography/headings/SectionHeading'
import UserProfileStatsList from '@/components/user/profile/UserProfileStatsList'
import DisclaimerText from '@/components/typography/text//DisclaimerText'

export default {
  components: {
    SectionHeading,
    UserProfileStatsList,
    DisclaimerText,
  },

  props: {
    user: { type: Object, required: true }
  }
}
</script>

<style lang="scss" scoped>
  section {
    border-bottom: 1px solid $border-secondary-color;
    // margin-bottom: 8px;
    // padding-bottom: 8px;
  }
</style>