<template>
  <div class="list">
    <UserProfileStatsAnswers :user="user" />
    <UserProfileStatsQuestions :user="user" />
    <UserProfileStatsLikes :user="user" />
  </div>
</template>

<script>
import UserProfileStatsAnswers from './UserProfileStatsAnswers'
import UserProfileStatsQuestions from './UserProfileStatsQuestions'
import UserProfileStatsLikes from './UserProfileStatsLikes'

export default {
  components: {
    UserProfileStatsAnswers,
    UserProfileStatsQuestions,
    UserProfileStatsLikes,
  },

  props: {
    user: { type: Object, required: true }
  }
}
</script>

<style lang="scss" scoped>
  .list {
    display: flex;
    justify-content: space-between;

    & > * { flex: 1 }
  }
</style>
