<template>
  <input
    type="text"
    placeholder=" "
    v-bind="$attrs"
    :value="modelValue"
    @blur="validation?.$touch()"
    @input="$emit('update:modelValue', $event.target.value)"
  />
</template>

<script>
export default {
  props: {
    modelValue: { type: String, default: '' },
  }
}
</script>

<style lang="scss" scoped>
  input {
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    height: 40px;
    border: 0;
    font-size: 14px;
    letter-spacing: .15px;
  }
</style>