<template>
  <div class="bar">
    <div class="bar__form">
      <div v-if="icon" class="bar__form__icon">
        <font-awesome-icon :icon="['fa', icon]" />
      </div>
    
      <BaseInput
        :value="modelValue"
        @update:modelValue="modelValue => modelValue"
        v-bind="$attrs"
        class="bar__form__input"
      />
    </div>
  </div>
</template>

<script>
import BaseInput from '@/components/form/input/BaseInput'

export default {
  components: {
    BaseInput,
  },

  props: {
    modelValue: { type: String, default: '' },
    icon: { type: String, default: null }
  },
}
</script>

<style lang="scss" scoped>
  .bar {
    &__form {
      display: flex;
      align-items: center;
      border: 1px solid darken(#fff, 25);
      border-radius: 5px;
      padding: 0 10px;
      background: #fff;

      &__icon {
        ::v-deep > * { color: darken(#fff, 45) }
      }

      &__input {
        height: auto;
        font-size: 14px;
        color: $text-primary-color;
      }
    }
  }
</style>