<template>
  <div
    class="form-group mb-3"
    :class="{
      'form-group--has-error' : hasError,
      'form-group--has-success' : hasSuccess,
      'form-group--has-pre-text' : !!preText,
      'form-group--loading' : isLoading
    }"
  >
    <div style="position: relative">
      <BaseInput
      :value="modelValue"
      @update:modelValue="modelValue => modelValue"
      v-bind="$attrs"
    />

    <label v-if="placeholder">{{ placeholder }}</label>
    <span
      v-if="preText"
      class="form-group__pre-text"
    >{{ preText }}</span>

    <LoadingSVG v-if="isLoading" class="form-group__loading"/>
    </div>

    <div class="form-group__errors" v-if="errorMessages.length">
      <div v-for="error in errorMessages" :key="error">{{ error }}</div>
    </div>
  </div>
</template>

<script>
import LoadingSVG from '@/assets/svg/LoadingSVG'
import BaseInput from '@/components/form/input/BaseInput'

export default {
  components: {
    LoadingSVG,
    BaseInput,
  },

  props: {
    name: { type: String, required: true },
    modelValue: { type: String, default: '' },
    preText: { type: String, default: null },
    placeholder: { type: String, default: null },
    validation: { type: Object, default: () => ({}) },
    isLoading: { type: Boolean, default: false },
    errors: { type: Object, default: () => ({}) }
  },

  computed: {
    hasError () {
      return this.validation.$dirty && this.validation.$invalid || this.errors[this.name]
    },

    hasSuccess () {
      return !this.validation.$invalid
    },

    errorMessages () {
      return this.errors[this.name] || [] 
    }
  },

  methods: {
    input (event) {
      this.$emit('input', event.target.value)
    }
  }
}
</script>

<style scoped lang="scss">
  .form-group {
    position: relative;

    label {
      pointer-events: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      font-size: 16px;
      font-weight: 100;
      transition: all .3s ease-out;
      color: rgba(#fff, .55);
    }

    input {
      padding: 20px 10px 5px;
      height: auto;
      color: #fff;
      background: transparent;
      border: 1px solid lighten($background-color, 10%);
    }

    &__pre-text {
      position: absolute;
      left: 10px;
      bottom: 5px;
    }

    &--has-pre-text input { padding-left: 27.5px }

    &__loading {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 36px
    }

    input:focus {
      border-color: $primary-color;
      box-shadow: $primary-color 0px 0px 0px 1px;
    }
    
    input:focus+label {
      color: $primary-color;
    }

    &__errors {
      margin-top: 4px;
      font-size: 13px;
      color: $error-color;
    }

    &--has-pre-text input+label,
    input:focus+label,
    input:not(:placeholder-shown)+label {
      margin-top: 3px;
      transform: translateY(-120%);
      font-size: 12px;
    }

    &--has-error {
      input { border-color: $error-color }
      label { color:$error-color }
    }
  }
</style>