<template>
  <div class="wrap">
    <textarea
      class="wrap__input"
      rows="1"
      placeholder=" "
      v-bind="$attrs"
      :value="modelValue"
      :maxlength="maxlength"
      @blur="validation?.$touch()"
      @input="resize($event.target)"
      @keydown.enter="e => $emit('enter', e.preventDefault())"
      ref="textarea"
    ></textarea>

    <LengthCounter
      class="wrap__counter"
      :counter="modelValue"
      :maxlength="maxlength"
    />
  </div>
</template>

<script>
import LengthCounter from '@/components/utils/LengthCounter'

export default {
  components: {
    LengthCounter,
  },

  props: {
    modelValue: { type: String, default: '' },
    maxlength: { type: Number, default: null }
  },

  mounted () {
    this.$nextTick(() => {
      this.resize(this.$refs.textarea)
      setTimeout(() => this.$refs.textarea.focus(), 500)
    })
  },

  methods: {
    resize (element) {
      this.$emit('update:modelValue', element.value)
      element.style.height = 'auto'
      element.style.height = (element.scrollHeight) + 'px'
    }
  }
}
</script>

<style lang="scss" scoped>
  .wrap {
    $p: &;

    padding: 14px;
    display: flex;
    align-items: center;

    &__input {
      flex: 1;
      height: 40px;
      padding: 9px;
      line-height: 22px;
      border-radius: 5px;
      width: 100%;
      resize: none;
      font-size: 14px;
      letter-spacing: .25px;
      padding: 0;
      background: rgba(0, 0, 0, 0);
      border: 0;
    }

    &__counter {
      margin-left: 12px;
      color: $text-secondary-color;
      font-weight: 600;;
    }

    &.type--transparent {
      background: rgba(#fff, .05);
      border: 0;
      border-radius: 8px;

      #{$p}__input {
        background: transparent;
        color: #fff;
        border: 0;
        border-radius: 0;
        padding: 0;
      }
    }
  
    &.text--big {
      font-size: 18px;
      line-height: 28px;
      font-weight: 500;
    }
  }
</style>