<template>
  <div class="wrapper">
    <input
      type="file"
      class="input"
      accept="image/jpeg,image/png,image/webp"
      @change="upload"
    />

    <div class="icon">
      <div class="icon__item">
        <slot name="icon"/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    upload (event) {
      const accepts = event.target.getAttribute('accept').split(',')
      const file = event.target.files[0]

      if (!accepts.includes(file.type)) {
        return null
      }

      this.$emit('upload', file)
    }
  }
}
</script>

<style lang="scss" scoped>
  .wrapper {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;

    .icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &__item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: rgba(#000, .3);
        border-radius: 100%;
        font-size: 16px;
      }
    }

    .input {
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0;
      cursor: pointer;
      z-index: 10;
    }
  }
</style>