<template>
  <Alert>
    <template #title>
      Aqui é onde toda a ação acontece
    </template>

    <template #body>
      <p>No Nixy você cria <strong>posts anônimos</strong> para seus amigos e recebe os comentários mais reveladores deles.</p>
      <p>Afinal, nada mais <u>revelador</u> e <u>sincero</u> do que um comentário de um <strong>amigo</strong> em anônimo, ne? 🤫</p>
      <hr />
      <p>Aqui tudo é anõnimo mas só entre seus amigos 😉 Bora começar?</p>
      <hr />
      <p class="hl">Você precisa ter ao menos <strong>3 amigos</strong> para começar a ver e criar posts e comentáios anônimos.</p>

      <PrimaryButton class="w-100" @click="$router.push({ name: 'friends.invite' })">Convidar amigos</PrimaryButton>
    </template>
  </Alert>
</template>

<script>
import Alert from '@/components/alert/Alert.vue'
import PrimaryButton from '@/components/buttons/PrimaryButton.vue'

export default {
  components: {
    Alert,
    PrimaryButton,
  },
}
</script>
