<template>
  <SocialButton
    :disabled="isLoading"
    @click="login"
  >
    <LoadingSVG v-if="isLoading" style="width: 40px"/>

    <img v-else src="@/assets/img/icons/google.svg"/>
  </SocialButton>
</template>

<script>
import { setAuthToken, googleProvider } from '@/services/auth.service'
import { mapActions } from 'vuex'
import { loginApi } from '@/api/auth.api'
import SocialButton from '@/components/buttons/SocialButton'
import LoadingSVG from '@/assets/svg/LoadingSVG'

export default {
  components: {
    SocialButton,
    LoadingSVG,
  },

  data: () => ({
    isLoading: false,
  }),

  async mounted () {
    this.isLoading = true

    await googleProvider.loadScript()

    this.isLoading = false
  },

  methods: {
    ...mapActions('user', ['fetchUser']),

    async login () {
      this.isLoading = true

      try {
        const token = await googleProvider.signIn()

        const res = await loginApi({ token, provider: 'google' })

        setAuthToken(res.data.token)

        await this.fetchUser()

        this.$router.replace({ name: 'home' })
      } catch (err) {
        console.error(err)
      }

      this.isLoading = false
    },  
  }
}
</script>
