<template>
  <div class="login__box mt-3 mt-lg-0">
    <div class="login__callout">
      Bora lá? Conecte-se usando sua conta <strong>Google</strong> ou <strong>Facebook</strong> para acessar o Nixy.
    </div>

    <div class="row">
      <div class="col-lg-6">
        <LoginGoogleButton />
      </div>

      <div class="col-lg-6 mt-3 mt-lg-0">
        <LoginFacebookButton />
      </div>
    </div>

    <div class="login__divisor"></div>
    
    <div class="login__disclaimers">
      <div class="login__disclaimers__item">Ao se conectar você aceita nossos <router-link to="/">Termos de Uso</router-link> e <router-link to="/">Política de Privacidade</router-link></div>
    </div>
  </div>
</template>

<script>
import LoginGoogleButton from '@/components/auth/login/LoginGoogleButton'
import LoginFacebookButton from '@/components/auth/login/LoginFacebookButton'

export default {
  components: {
    LoginGoogleButton,
    LoginFacebookButton,
  }
}
</script>

<style lang="scss" scoped>
  .login {
    
    &__box {
      background: #fff;
      border-radius: 10px;
      padding: 1.875rem;

      .hl { color: $primary-color }
    }

    &__callout {
      color: #4A4A50;
      margin-bottom: 15px;
    }

    &__divisor {
      border-top: 1px solid rgba(#000, .3);
      margin: 1.875rem 0;
    }

    &__disclaimers {
      color: #8D8D9B;
      font-size: 12px;

      &__item {
        a { color: $primary-color }
        
        &:not(:last-child) { margin-bottom: 10px }
      }
    }
  }
</style>