<template>
  <section>
    <div class="text-center text-lg-start">
      
      <div class="text-center mb-3">
        <img width="120" src="@/assets/img/logo.svg" alt="Logo Nixy"/>
      </div>

      <h1>A <u>primeira</u> rede social de conteúdo secreto entre sua rede de amigos.</h1>

      <p>
        Crie posts anônimos <strong>apenas</strong> para seus amigos e receba comentários anônimos deles.
      </p>
    </div>
  </section>
</template>

<style scoped lang="scss">
  img { margin-bottom: 15px }

  h1 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  p {
    font-size: 20px;
  }

  .hl { color: $primary-color }

  @media (max-width: 768px) {
    h1 { font-size: 19px }
    p { font-size: 16px }
  }
</style>