<template>
  <TabNav>
    <router-link :to="{ name: 'friends' }">
      Todos
    </router-link>

    <router-link :to="{ name: 'friends.requests' }">
      Recebidos
      <PillBadge v-if="friendRequestCount">{{ friendRequestCount }}</PillBadge>
    </router-link>

    <router-link :to="{ name: 'friends.requests.sent' }">
      Enviados
    </router-link>
  </TabNav>
</template>

<script>
import TabNav from '@/components/utils/TabNav.vue'
import PillBadge from '@/components/badges/PillBadge.vue'
import { mapGetters } from 'vuex'

export default {
  components: { TabNav, PillBadge },

  computed: {
    ...mapGetters('notification', ['friendRequestCount'])
  }
}
</script>