<template>
  <TabNav>
    <router-link :to="{ name: 'search' }">
      Buscar
    </router-link>

    <router-link :to="{ name: 'friends.invite' }">
      Convidar amigos
    </router-link>
  </TabNav>
</template>

<script>
import TabNav from '@/components/utils/TabNav.vue'

export default {
  components: { TabNav },
}
</script>