<template>
  <BaseModal :is-loading="isLoading">
    <template #title>Novo post</template>
    <template #subtitle>Post <strong>anônimo</strong> para seus <u>amigos</u></template>

    <template #button>
      <PrimaryButton
        class="buttons--light"
        :disabled="v$.$invalid"
        @click="submit"
      >enviar</PrimaryButton>
    </template>

    <ResizableInput
      class="type--transparent"
      v-model="title"
      :maxlength="maxlength"
      placeholder="Qual a braba vai lançar?"
      ref="input"
      tabindex="0"
      @enter="() => v$.$invalid || submit()"
    />
  </BaseModal>
</template>

<script>
import { mapActions } from 'vuex'
import BaseModal from '@/components/modal/BaseModal'
import PrimaryButton from '@/components/buttons/PrimaryButton'
import { required, minLength } from '@vuelidate/validators'
import ResizableInput from '@/components/form/input/ResizableInput'
import useVuelidate from '@vuelidate/core'

export default {
  components: {
    BaseModal,
    PrimaryButton,
    ResizableInput,
  },

  setup () {
    return {
      v$: useVuelidate()
    }
  },

  data: () => ({
    isLoading: false,
    title: '',
    maxlength: 100
  }),

  validations () {
    return {
      title: { required, minLength: minLength(3)}
    }
  },

  mounted () {
    setTimeout(() => this.$refs.input.$el.focus(), 500)
  },

  methods: {
    ...mapActions('post', ['createUserPost']),

    async submit () {
      this.isLoading = true

      const comment = await this.createUserPost({ title: this.title })

      this.$emit('created', comment)

      this.$vfm.hideAll();

      this.isLoading = false
    }
  }
}
</script>