<template>
  <div class="post">
    <TimelineNotEnoughFriendsAlert v-if="hasNotEnoughFriends && !userTimeline.length" />
    
    <PrimaryButton 
      v-if="timelineNewestPosts.length"
      class="button--dark w-100 mb-2"
      @click="loadTimelineNewestPosts"
    >Carregar mais {{ timelineNewestPosts.length }} novo<span v-if="timelineNewestPosts.length > 1">s</span> post<span v-if="timelineNewestPosts.length > 1">s</span></PrimaryButton>

    <InfiniteScroll
      :is-loading="isLoading"
      :is-done="isUserTimelineLastPage || hasNotEnoughFriends" 
      @reached="fetchTimeline"
    >
      <Post
        v-for="post in userTimeline"
        :key="post.id"
        :post="post"
        :has-comments="false"
        class="post__item"
      />
    </InfiniteScroll>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import Post from '@/components/post/Post'
  import InfiniteScroll from '@/components/utils/InfiniteScroll'
  import PrimaryButton from '../buttons/PrimaryButton.vue'
  import TimelineNotEnoughFriendsAlert from '@/components/timeline/alert/TimelineNotEnoughFriendsAlert'

  export default {
    components: {
      Post,
      InfiniteScroll,
      PrimaryButton,
      TimelineNotEnoughFriendsAlert,
    },

    data: () => ({
      isLoading: false,
      hasNotEnoughFriends: false,
    }),

    async mounted () {
      if (!this.$store.state.post.timelineNewestPostsTimer) {
        this.$store.state.post.timelineNewestPostsTimer = setInterval(() => this.getTimelineNewestPosts(), 30000)
      }
    },

    computed: {
      ...mapGetters('post', [
        'userTimeline',
        'isUserTimelineLastPage',
        'timelineLastPostId',
        'timelineNewestPosts'
      ]),
    },

    methods: {
      ...mapActions('post', [
        'getUserTimeline',
        'getTimelineNewestPosts',
        'loadTimelineNewestPosts'
      ]),

      async fetchTimeline () {
        this.isLoading = true

        try {
          await this.getUserTimeline()
        } catch (err) {
          this.hasNotEnoughFriends = true
        }

        this.isLoading = false
      },
    }
  }
</script>

<style scoped lang="scss">
  .no-resource {
    color: #fff;
  }

  .post {
    &__item:not(:last-child) {
      margin-bottom: 20px;
    }
  }
</style>