<template>
  <div
    class="comment"
    :class="{'comment--my' : comment.is_my}"
  >
    <div class="comment__header">
      <UserAvatar
        size="sm"
        class="comment__avatar"
        :color="comment.is_my ? '#FF6348' : null"
      />
    </div>

    <div class="comment__body">
      <div class="comment__options">
        <CommentOptionsDropdown :comment="comment" />
      </div>
      
      <div class="comment__infos">
        <span class="comment__text--action">
          <span v-if="comment.is_my">Você respondeu</span>
          <span v-else>Algum amigo respondeu</span>
          <span class="comment__text--timestamp"> &#9679; {{ comment.created_at }}</span>
        </span>

        <p class="comment__body__message">{{ comment.body }}</p>
      </div>

      <PostCommentLikeButton
        class="comment__body__like"
        :comment="comment"
      />
    </div>
  </div>
</template>

<script>
  import UserAvatar from '@/components/user/UserAvatar'
  import PostCommentLikeButton from './PostCommentLikeButton'
  import CommentOptionsDropdown from '@/components/comment/CommentOptionsDropdown'

  export default {
    components: {
      UserAvatar,
      PostCommentLikeButton,
      CommentOptionsDropdown,
    },

    props: {
      comment: { type: Object, default: () => ({}) }
    }
  }
</script>

<style scoped lang="scss">
  .comment {
    $p: &;

    position: relative;
    display: flex;
    align-items: flex-start;

    & {
      &__options {
        position: absolute;
        top: 0;
        right: 10px;
        @media (min-width: 550px) { visibility: hidden }
      }

      &:hover &__options { visibility: visible }
    }

    &:not(:last-child) {
      padding-bottom: 12px;
    }

    &:not(:last-child):before {
      content: '';
      position: absolute;
      left: calc(17.5px - 1.5px);
      top: 2px;
      width: 3px;
      height: calc(100% - 2px);
      background: #DFDFDF;
    }

    &__avatar {
      z-index: 2;
      position: relative;
      margin-right: 8px;
      outline: 3px solid #fff;
    }

    &__body {
      position: relative;
      flex: 1;
      // padding-bottom: 8px;
  
      &__message {
        color: #4A4A50;
        font-size: 14px;
        margin-bottom: 0;
      }

      &__like {
        padding: 0 10px;
      }
    }

    &__infos {
      display: flex;
      flex-direction: column;
      background: darken(#fff, 7);
      background: lighten(#2B3237, 75);
      padding: 10px;
      border-radius: 8px;
      margin-bottom: 4px;
      border-bottom: 2px solid lighten(#2B3237, 65);
    }

    &__text {
      border-bottom: 1px solid #DFDFDF;

      &--action {
        color: #4A4A50;
        font-size: 14px;
        font-weight: 600;
      }

      &--timestamp {
        // color: #a3a3a3;
        font-size: 12px;
      }
    }

    &--my {
      #{$p}__text--action {
        color: $primary-color;
      }
    }
  }
</style>