<template>
  <div>
    <ResizableInput
      class="input"
      placeholder="Capricha no comentário anônimo ;)"
    />
  </div>
</template>

<script>
import ResizableInput from '@/components/form/input/ResizableInput'

export default {
  components: {
    ResizableInput,
  }
}
</script>

<style lang="scss" scoped>
  .input {
    background: lighten(#000, 95);
    border: 1px solid lighten(#000, 90);
  }
</style>