<template>
  <div class="post-form">
    <PlaceholderInputButton
      placeholder="Já tem a braba pra lançar?"
      class="type-transparent"
      @click="openPostFormModal"
    />
  </div>
</template>

<script>
import PlaceholderInputButton from '@/components/buttons/PlaceholderInputButton'
import PostFormModal from '@/components/post/PostFormModal'

export default {
  components: {
    PlaceholderInputButton,
  },

  methods: {
    openPostFormModal () {
      this.$vfm.show({ component: PostFormModal })
    }
  }
}
</script>

<style lang="scss" scoped>
  .post-form {
    background: $background-secondary-color;
    padding: 24px;
    border-radius: var(--nixy-border-radius);
  }
</style>