<template>
  <div class="stats">
    <TextButton class="stats__item w-100 text-start" @sclick="$router.push({ name: 'post', params: {id: post.id}})">
      <CommentsSVG/>
      <span>{{ post.comment_count }}</span>
    </TextButton>
  </div>
</template>

<script>
import CommentsSVG from '@/assets/svg/CommentsSVG'
import TextButton from '@/components/buttons/TextButton'

export default {
  components: {
    CommentsSVG,
    TextButton,
  },

  props: {
    post: { type: Object, required: true }
  }
}
</script>

<style lang="scss" scoped>
  .stats {
    display: flex;
    justify-content: flex-start;

    &__item {
      flex: 1;
      flex-grow: 0;
      display: flex;
      align-items: center;

      span {
        font-weight: 600;
        font-size: 14px;
        margin-left: 8px;
        color: $text-primary-color;
      }

      ::v-deep svg { height: 18px; fill: $text-primary-color }
    }
  }
</style>