<template>
  <div
    class="post"
    :class="{'post--my' : post.is_my}"
  >
    <div class="post__header">
      <router-link
        :to="link"
        class="post__header__content"
        :class="{ 'post__header__content--has-link' : link }"
      >
        <div class="post__header__in">
          <div class="d-flex align-items-center mb-2">
            <UserAvatar
              class="post__header__avatar"
              :color="post.is_my ? '#FF6348' : null"
            />

            <span class="post__header__infos__subtitle">
              <strong v-if="post.is_my">⭐ Você postou</strong>
              <span v-else>Algum amigo postou</span>
              <span> &#9679; {{ post.created_at }}</span>
            </span>

            <div class="post__header__options">
              <PostOptionsDropdown :post="post" />
            </div>
          </div>

          <span class="post__header__infos__title">{{ post.title }}</span>  
        </div>
      </router-link>
    </div>

    <div class="post__body">
      <PostStats
        v-if="!commentsVisible"
        :post="post"
        @click.prevent="commentsEnabled = true"
      />

      <div v-else class="post__body__inner">
        <div
          v-if="!post.is_my && !post.has_my_comment"
          class="post__input"
        >
          <PlaceholderInputButton
            placeholder="Comentário anônimo"
            @click="openCommentFormModal"
          />
        </div>
        
        <PostCommentList
          v-if="commentsVisible && post.id"
          :post="post"
          :is-scroll-disabled="commentsVisible"
          ref="list"
        />

        <div v-if="!post.comment_count && post.is_my" class="post__disclaimer">
          Ainda não há comentários para esse post.
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import PostCommentList from './PostCommentList'
  import PlaceholderInputButton from '@/components/buttons/PlaceholderInputButton'
  import PostStats from './PostStats'
  import LockSVG from '@/assets/svg/LockSVG'
  import CommentFormModal from '@/components/comment/CommentFormModal'
  import UserAvatar from '@/components/user/UserAvatar'
  import PostOptionsDropdown from '@/components/post/PostOptionsDropdown'

  export default {
    components: {
      PlaceholderInputButton,
      PostCommentList,
      PostStats,
      LockSVG,
      UserAvatar,
      PostOptionsDropdown,
    },

    data: () => ({
      commentsEnabled: false,
    }),

    props: {
      post: { type: Object, required: true },
      hasComments: { type: Boolean, default: false }
    },

    computed: {
      commentsVisible () {
        return this.hasComments || this.commentsEnabled
      },

      link () {
        return this.$route.name !== 'post' && this.post.id ? { name: 'post', params: { id: this.post.id }} : ''
      }
    },

    methods: {
      openCommentFormModal () {
        this.$vfm.show({
          component: CommentFormModal,
          bind: { post: this.post },
          on: {
            created: (comment) => this.$refs.list.refresh()
          }
        })
      }
    }
  }
</script>

<style scoped lang="scss">
  @keyframes blink {
    0%, 10% { opacity: 0 }
  }

  .post {
    $p: &;

    background: #fff;
    border-radius: var(--nixy-border-radius);
    border-bottom: 2px solid #B8B8B8;
    color: #000;
    // animation: blink 1.5s;

    &__input {
      margin-bottom: 24px;
    }

    &__disclaimer {
      display: flex;
      font-size: 14px;
      line-height: 18px;
      color: lighten(#000, 35%);

      svg {
        flex: 0 0 auto;
        width: 15px;
        fill: lighten(#000, 35%);
        margin-right: 8px;
      }
    }

    &__header {
      &__in { width: 100% }

      & {
        &__options {
          margin-left: auto;
          @media (min-width: 550px) { visibility: hidden }
        }

        &:hover &__options { visibility: visible }
      }

      &__content {
        display: flex;
        padding: 16px;
        border-bottom: 1px solid #e5e5e5;
        cursor: default;

        &--has-link:hover {
          background: rgba(#000, .04);
          cursor: pointer;
        }
      }

      &__avatar {
        flex: 0 0 auto;
        margin-right: 8px;
        width: 26px!important;
        height: 26px!important;
      }

      &__infos {
        display: flex;
        flex-direction: column;
        color: $subtext-color;

        &__title {
          font-family: 'Sora';
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: .125px;
          color: $text-primary-color;
        }

        &__subtitle {
          font-size: 12px;
          color: $text-primary-color;
        }

        &__time {
          margin-top: 5px;
          font-size: 11px;
          font-weight: 700;
        }
      }
    }

    &__body {
      padding: 8px 16px;

      &__inner {
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }
  }
</style>