<template>
  <InfiniteScroll
    @reached="fetch"
    :is-loading="isLoading"
    :is-done="isDone"
    :is-scroll-disabled="isScrollDisabled"
  >
    <PostComment
      v-for="comment in comments"
      :key="comment.id"
      :comment="comment"
    />
  </InfiniteScroll>
</template>

<script>
  import { getPostComments } from '@/api/comment.api'
  import PostComment from './PostComment'
  import InfiniteScroll from '@/components/utils/InfiniteScroll'
  import LoadingMixin from '@/mixins/LoadingMixin'

  export default {
    components: {
      PostComment,
      InfiniteScroll
    },

    mixins: [LoadingMixin],

    props: {
      post: { type: Object, required: true },
      isScrollDisabled: { type: Boolean, default: false },
    },

    data: () => ({
      comments: [],
      cursor: null,
      isDone: false,
    }),

    methods: {
      refresh (comment) {
        this.comments = []
        this.cursor = null
        this.isDone = false
        this.fetch()
      },

      async fetch () {
        this.setLoading(true)
        
        const res = await getPostComments(this.post.id, { cursor: this.cursor })
  
        res.data.forEach(comment => this.comments.push(comment))

        this.isDone = res.links.next === null
        this.cursor = res.meta.cursor
  
        this.setLoading(false)
      }
    }
  }
</script>
