<template>
  <button
    class="placeholder"
    @click="openCommentModal"
  >
    <PlaneSVG />
    Responder anonimamente
  </button>
</template>

<script>
  import PlaneSVG from '@/assets/svg/PlaneSVG'
  // import BaseModal from '@/components/modal/BaseModal'
  // import PostCommentForm from '@/components/comment/PostCommentForm'

  export default {
    components: {
      PlaneSVG,
    },

    props: {
      post: { type: Object, default: () => ({}) }
    },

    methods: {
      openCommentModal () {
        // this.$modal.show(BaseModal, {
        //   component: PostCommentForm,
        //   title: 'Comentando',
        //   subtitle: this.post.title,
        //   props: { post: this.post }
        // })
      }
    }
  }
</script>

<style scoped lang="scss">
  .placeholder {
    width: 100%;
    padding: 0 8px;
    height: 40px;
    text-align: left;
    background-color: lighten(#000, 90);
    border: 1px solid lighten(#000, 60);
    font-size: 14px;
    border-radius: 8px;
    color: lighten(#000, 20);

    svg {
      width: 20px;
      fill: lighten(#000, 50%);
      margin-right: 5px;
    }
  }
</style>