<template>
  <div>
    <Dropdown>
      <template #button>
        <BaseButton class="button">
          <font-awesome-icon :icon="['fa', 'ellipsis-h']" />
        </BaseButton>
      </template>

      <DropdownItem
        v-if="post.is_my"
        class="primary"
        @click.prevent="destroy"
      >Excluir</DropdownItem>

      <DropdownItem
        v-if="!post.is_my"
        @click.prevent="report"
      >Denunciar</DropdownItem>
    </Dropdown>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import BaseButton from '../buttons/BaseButton.vue'
import Dropdown from '../utils/Dropdown.vue'
import DropdownItem from '../utils/DropdownItem.vue'
import { reportPost } from '@/api/report.api'
import { useToast } from "vue-toastification"

export default {
  components: { Dropdown, BaseButton, DropdownItem },

  props: {
    post: { type: Object, required: true }
  },

  methods: {
    ...mapActions('post', ['deletePost']),

    report () {
      this.showConfirmation({
        title: 'Denunciar post',
        message: `
          <strong>O conteúdo desse post se encaixa em algum dos pontos abaixo?</strong>
          <ul class="mt-2">
            <li>Ofensivo</li>
            <li>Preconceituoso</li>
          <li>Apologia a algum crime</li>
          </ul>
        `,
        confirmText: 'Denunciar',
        confirm: () => this.reportPost()
      })
    },

    reportPost () {
      reportPost(this.post.id)
      const toast = useToast()
      toast('Recebemos sua denúncía. Nossa Equipe de moderação estará analisando para tomar as devidas ações.')
    },

    destroy () {
      this.showConfirmation({
        title: 'Excluir post',
        message: `Você tem certeza que deseja excluir <strong>permanentemente</strong> este post?`,
        confirm: () => this.deletePost(this.post.id)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .button {
    color: $subtext-color;

    ::v-deep(.fa-ellipsis-h) {
      font-size: 16px;
    }
  }
</style>