<template>
  <BaseButton class="button" @click="openCommentModal">
    <span>
      <font-awesome-icon :icon="['fa', 'mask']" />
    </span>
  </BaseButton>
</template>

<script>
import BaseButton from '../buttons/BaseButton.vue'
import PostFormModal from '@/components/post/PostFormModal'

export default {
  components: {
    BaseButton
  },

  methods: {
    openCommentModal () {
      this.$vfm.show({
        component: PostFormModal,
        on: { created: () => window.scrollTo({ top: 0, behavior: "smooth" })}
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  .button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    background: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    box-shadow: rgb(136 153 166 / 20%) 0px 0px 10px, rgb(136 153 166 / 25%) 0px 1px 3px 1px;
    

    span {
      color: #fff;
      font-size: 25px;
    }
  }
</style>