<template>
  <BaseButton
    class="button default--hover"
    :class="{'button--liked' : isLiked}"
    @click="toggleLike()"
  >
    <TravaSVG/>
    <span v-if="likesCount">{{ likesCount }}</span>
  </BaseButton>
</template>

<script>
  import {
    likeComment,
    unlikeComment,
  } from '@/api/comment.api'
  import TravaSVG from '@/assets/svg/TravaSVG'
  import BaseButton from '@/components/buttons/BaseButton'
  import { debounce } from 'lodash'

  export default {
    components: {
      TravaSVG,
      BaseButton,
    },

    props: {
      comment: { type: Object, required: true }
    },

    mounted () {
      this.isLiked = this.lastIsLiked = this.comment.is_liked,
      this.likesCount = this.comment.like_count
    },

    data: () => ({
      isLiked: false,
      likesCount: 0,
      lastIsLiked: false,
    }),

    methods: {
      toggleLike () {
        if (this.comment.is_my) {
          return null
        }

        this.isLiked = !this.isLiked

        if (this.isLiked) {
          this.likesCount++
        } else {
          this.likesCount--
        }

        this.likeRequest()
      },

      likeRequest: debounce(function() {
        if (this.lastIsLiked == this.isLiked) {
          return null
        }

        this.lastIsLiked = this.isLiked

        if (this.isLiked) {
          likeComment(this.comment.id)
        } else {
          unlikeComment(this.comment.id)
        }
      }, 500)
    }
  }
</script>

<style scoped lang="scss">
  .button {
    height: auto;

    ::v-deep svg { width: 18px; fill: $icon-fill }

    span {
      display: inline-block;
      margin-left: 5px;
      font-size: 12px;
      font-weight: 700;
      color: $icon-fill;
      width: 18px;
    }

    &--liked {
      ::v-deep svg { fill: $primary-color }

      span { color: $primary-color }
    }
  }
</style>