<template>
  <GridInternal>
    <template #left>
      <LayoutInternal>
        <SectionHeading class="primary">Pedidos de amizade recebidos</SectionHeading>

        <FriendsTabNav />

        <UserFriendshipRequests />
      </LayoutInternal>
    </template>
  </GridInternal>
</template>

<script>
import GridInternal from '@/components/template/grid/GridInternal.vue'
import LayoutInternal from '@/components/template/layout/LayoutInternal.vue'
import SectionHeading from '@/components/typography/headings/SectionHeading.vue'
import UserFriendshipRequests from '@/components/user/friendship/UserFriendshipRequests.vue'
import FriendsTabNav from '@/components/tab-navs/UserFriendsTabNav.vue'
import TheFooter from '@/components/template/TheFooter.vue'

export default {
  components: {
    GridInternal,
    LayoutInternal,
    SectionHeading,
    UserFriendshipRequests,
    FriendsTabNav,
    TheFooter,
  },


  created: () => document.title = 'Convites de Amizade / Nixy'
}
</script>