<template>
  <GridInternal>
    <template #left>
      <LayoutInternal>
        <SectionHeading class="primary">Convidar amigos</SectionHeading>

        <UserSearchTabNav />

        <UserFriendsInviteBox />
      </LayoutInternal>
    </template>
  </GridInternal> 
</template>
<script>

import GridInternal from '@/components/template/grid/GridInternal.vue'
import LayoutInternal from '@/components/template/layout/LayoutInternal.vue'
import SectionHeading from '@/components/typography/headings/SectionHeading.vue'
import UserSearchTabNav from '@/components/tab-navs/UserSearchTabNav.vue'
import UserFriendsInviteBox from '@/components/user/UserFriendsInviteBox.vue'


export default {
  components: {
    GridInternal,
    LayoutInternal,
    SectionHeading,
    UserSearchTabNav,
    UserFriendsInviteBox,
  },

  created: () => document.title = 'Encontrar a Galera / Nixy'
}
</script>