<template>
  <LoadingBox v-if="isLoading"/>

  <GridInternal v-else>
    <template #left>
      <UserProfileInfosBox :user="userProfile" class="mb-4"/>

      <UserProfileStatsBox :user="userProfile" />
    </template>

    <template #right>
      <UserFollowersBox :user="userProfile" class="mb-4"/>

      <UserGroupsBox v-if="false" />
    </template>
  </GridInternal>
</template>

<script>
import UserProfileInfosBox from '@/components/user/profile/UserProfileInfosBox'
import UserProfileStatsBox from '@/components/user/profile/UserProfileStatsBox'
import UserFollowersBox from '@/components/user/UserFollowersBox'
import UserGroupsBox from '@/components/user/UserGroupsBox'
import LoadingBox from '@/components/misc/LoadingBox'
import GridInternal from '@/components/template/grid/GridInternal.vue'
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    UserProfileInfosBox,
    UserProfileStatsBox,
    UserFollowersBox,
    UserGroupsBox,
    LoadingBox,
    GridInternal,
  },

  data: () => ({
    isLoading: true,
  }),

  async mounted () {
    await this.getUserProfile(this.$route.params.slug)

    this.isLoading = false

    document.title = `${this.userProfile.name} (${this.userProfile.slug}) / Nixy`
  },

  computed: {
    ...mapGetters('user', ['userProfile']),
  },

  methods: {
    ...mapActions('user', ['getUserProfile']),
  }
}
</script>
