<template>
  <GridInternal>
    <template #left>
      <LayoutInternal>
        <SectionHeading class="primary">Notificações</SectionHeading>

        <UserNotificationList />
      </LayoutInternal>
    </template>
  </GridInternal>
</template>

<script>
import GridInternal from '@/components/template/grid/GridInternal.vue'
import LayoutInternal from '@/components/template/layout/LayoutInternal.vue'
import SectionHeading from '@/components/typography/headings/SectionHeading.vue'
import UserNotificationList from '@/components/notification/UserNotificationList.vue'
import { mapMutations } from 'vuex'

export default {
  components: {
    GridInternal,
    LayoutInternal,
    SectionHeading,
    UserNotificationList,
  },

  created () { document.title = 'Notificações / Nixy' },

  mounted () {
    this.resetNotificationCount()
  },

  methods: {
    ...mapMutations('notification', ['resetNotificationCount']),
  }
}
</script>