<template>
  <GridInternal>
    <template #left>
      <LayoutInternal>
        <SectionHeading class="primary">Amizades</SectionHeading>

        <FriendsTabNav />

        <UserFriends />
      </LayoutInternal>
    </template>
  </GridInternal>
</template>

<script>
import GridInternal from '@/components/template/grid/GridInternal.vue'
import LayoutInternal from '@/components/template/layout/LayoutInternal.vue'
import SectionHeading from '@/components/typography/headings/SectionHeading.vue'
import UserFriends from '@/components/user/UserFriends.vue'
import FriendsTabNav from '@/components/tab-navs/UserFriendsTabNav.vue'

export default {
  components: {
    GridInternal,
    LayoutInternal,
    SectionHeading,
    UserFriends,
    FriendsTabNav,
  },

  created () { document.title = 'Amizades / Nixy'}
  
}
</script>