<template>
  <GridInternal>
    <template #left>
      <LayoutInternal>
        <SectionHeading class="primary">Pedidos de amizade enviados</SectionHeading>

        <FriendsTabNav />

        <UserFriendshipRequestsSent />
      </LayoutInternal>
    </template>
  </GridInternal>
</template>

<script>
import GridInternal from '@/components/template/grid/GridInternal.vue'
import LayoutInternal from '@/components/template/layout/LayoutInternal.vue'
import SectionHeading from '@/components/typography/headings/SectionHeading.vue'
import UserFriendshipRequestsSent from '@/components/user/friendship/UserFriendshipRequestsSent.vue'
import FriendsTabNav from '@/components/tab-navs/UserFriendsTabNav.vue'

export default {
  components: {
    GridInternal,
    LayoutInternal,
    SectionHeading,
    UserFriendshipRequestsSent,
    FriendsTabNav,
  },

    created: () => document.title = 'Convites de Amizade Enviados / Nixy'
}
</script>