<template>
  <footer class="footer">
    <div class="footer__navbar">
      <router-link to="/" class="footer__navbar__item">Sobre o Nixy</router-link>
      <router-link to="/" class="footer__navbar__item">Política de Privacidade</router-link>
      <router-link to="/" class="footer__navbar__item">Termos de Uso</router-link>
    </div>

    <div class="footer__divisor"></div>

    <div class="footer__copyright">Nixy © 2021</div>
  </footer>
</template>

<style lang="scss" scoped>
  .footer {
    $p: &;
    padding: 10px 0;
    background: #fff;

    &__navbar {
      display: flex;
      flex-wrap: wrap;

      &__item {
        color: #95989B;
        padding: 0 10px;
        font-size: 13px;
        text-decoration: none;

        &:hover { text-decoration: underline }
      }
    }

    &__divisor {
      margin: 10px 0;
      border-top: 1px solid $border-color;
    }

    &__copyright {
      color: #95989B;
      font-weight: 600;
      font-size: 13px;
      padding: 0 10px;
    }

    &.internal {
      padding: 0;
      margin-top: 16px;
      padding-top: 10px;
      border-top: 1px solid rgba(#fff, .1);
      background: rgba(0, 0, 0, 0);

      .container {
        padding: 0;
      }

      #{$p}__navbar {
        flex-direction: column;

        &__item { padding-top: 4px; padding-bottom: 4px }
      }

      #{$p}__divisor { border-color: rgba(#fff, .1) }
    }
  }
</style>