<template>
  <header class="header" ref="header">
    <div class="wrap">
      <div class="header__back" @click="handleBack">
        <img class="header__logo" src="@/assets/img/logo.svg" />
      </div>

      <TheNavbar />
    </div>
  </header>
</template>

<script>
import TheNavbar from '@/components/template/TheNavbar.vue'

export default {
  components: {
    TheNavbar,
  },

  data: () => ({
    theHeaderHeight: null,
  }),

  mounted () {
    setTimeout(() => this.updateHeaderHeightVariable(), 1000)
    window.addEventListener('resize', () => this.updateHeaderHeightVariable())
  },

  methods: {
    updateHeaderHeightVariable () {
      const height = this.$refs.header?.offsetHeight

      if (height && this.theHeaderHeight != height) {
        this.theHeaderHeight = height
        document.documentElement.style.setProperty('--the-header-height', height + 'px')
      }
    },

    handleBack () {
      if (this.$route.name === 'home') {
        window.scrollTo({ top: 0, behavior: "smooth" })
      } else {
        this.$router.push({ name: 'home' })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    
    padding: 8px 15px;
    background: $background-secondary-color;
    border-bottom: 2px solid darken($background-secondary-color, 1);

    &__back {
      cursor: pointer;
    }

    &__logo { width: 50px; margin-bottom: -3px }
  
    &__brand {
      font-size: 22px;
    }

    .wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: $container-max-width;
      margin: auto;
    }

    @media (max-width: 768px) {
      padding: 10px 0 0 0;
      border-bottom: 0;

      .wrap {
        flex-direction: column;
      }
    }
  }
</style>