<template>
  <div class="navigation">
    <ItemNavbar route-match="home">
      <router-link :to="{ name: 'home' }" class="item">
        <font-awesome-icon :icon="['fas', 'house-user']" />
      </router-link>
    </ItemNavbar>

    <ItemNavbar route-match="search">
      <router-link :to="{ name: 'search' }" class="item">
        <font-awesome-icon :icon="['fas', 'search']" />
      </router-link>
    </ItemNavbar>

    <ItemNavbar :route-match="['friends', 'friends.requests', 'friends.requests.sent']">
      <NotificationBadge
        v-if="friendRequestCount"
        class="position--inner-top-right"
      >{{ friendRequestCount }}</NotificationBadge>

      <router-link :to="{ name: 'friends' }" class="item">
        <font-awesome-icon :icon="['fas', 'users']" />
      </router-link>
    </ItemNavbar>

    <ItemNavbar route-match="notifications">
      <NotificationBadge
        v-if="notificationCount"
        class="position--inner-top-right"
      >{{ notificationCount }}</NotificationBadge>

      <router-link :to="{ name: 'notifications' }" class="item">
        <font-awesome-icon :icon="['fas', 'bell']" />
      </router-link>
    </ItemNavbar>

    <ItemNavbar>
      <Dropdown>
        <template #button>
          <UserPicture :user="user" class="border-secondary border border-2 rounded-circle item__user" />
        </template>

        <DropdownItem @click="$router.replace({ name: 'user.profile', params: {slug: user.slug} })">
          <template #icon>
            <font-awesome-icon :icon="['fa', 'user']"></font-awesome-icon>
          </template>
  
          <div>Perfil</div>
        </DropdownItem>

        <DropdownItem>
          <template #icon>
            <font-awesome-icon :icon="['fa', 'cog']"></font-awesome-icon>
          </template>
  
          <div>Minha conta</div>
        </DropdownItem>
        
        <div class="dropdown-divider"></div>

        <DropdownItem @click="logout">
          <template #icon>
            <font-awesome-icon :icon="['fa', 'power-off']"></font-awesome-icon>
          </template>
  
          <div>Sair</div>
        </DropdownItem>
      </Dropdown>
    </ItemNavbar>
  </div>
</template>

<script>
import ItemNavbar from '@/components/template/navbar/ItemNavbar.vue'
import NotificationBadge from '@/components/badges/NotificationBadge.vue'
import Dropdown from '@/components/utils/Dropdown.vue'
import DropdownItem from '@/components/utils/DropdownItem.vue'
import UserPicture from '@/components/user/UserPicture.vue'
import { mapGetters, mapActions } from 'vuex'

export default {
  components: {
    ItemNavbar,
    NotificationBadge,
    UserPicture,
    Dropdown,
    DropdownItem,
  },

  computed: {
    ...mapGetters('notification', ['friendRequestCount', 'notificationCount']),

    ...mapGetters('user', ['user'])
  },

  methods: {
    ...mapActions('user', ['logout'])
  }
}
</script>

<style lang="scss" scoped>
  .navigation {
    display: flex;
    gap: 14px;

    @media (max-width: 768px) {
      margin-top: 4px;
      gap: 4px;
      width: 100%;
      justify-content: space-between;

      .item__user {
        width: 30px;
      }
    }
  }
</style>