<template>
  <GridInternal>
    <template #left>

      <PostFormSection class="mb-3 d-none d-md-block" />

      <PostCreatingButton class="d-block d-md-none" />

      <PostList />
    </template>

    <template #right>
      <UserBasicStats class="d-none d-md-block" />
    </template>
  </GridInternal>
</template>

<script>
import GridInternal from '@/components/template/grid/GridInternal'
import PostFormSection from '@/components/post/PostFormSection'
import PostCreatingButton from '@/components/post/PostCreatingButton'
import PostList from '@/components/post/PostList'
import UserBasicStats from '@/components/user/UserBasicStats'
import TheFooter from '@/components/template/TheFooter'
import { mapGetters } from 'vuex'

export default {
  components: {
    GridInternal,
    PostFormSection,
    PostList,
    UserBasicStats,
    TheFooter,
    PostCreatingButton,
  },

  computed: {
    ...mapGetters('notification', ['notificationCount'])
  },

  watch: {
    notificationCount: {
      immediate: true,
      handler (count) {
        document.title = (count ? `(${count}) ` : '') + 'Timeline / Nixy';
      }
    }
  }
}
</script>