<template>
  <div>
    <!-- <InstallAppBox /> -->

    <router-view :key="$route.path"></router-view>

    <modals-container></modals-container>
  </div>
</template>

<script>
import { ModalsContainer } from 'vue-final-modal'
import InstallAppBox from '@/components/misc/InstallAppBox'

export default {
  name: 'App',
  components: {
    ModalsContainer,
    InstallAppBox
  },

  mounted () {
    setTimeout(() => {
      const el = document.getElementById('global-loading')
      el.classList.add('loaded')
      setTimeout(() => el.parentNode.removeChild(el), 1600)
    }, 500)
  }
}
</script>

<style lang="scss">
  @import '~bootstrap/dist/css/bootstrap.min.css';
  @import '@/assets/scss/_fonts';
  
  html { font-size: 16px }

  * { outline: 0 }

  a {
    text-decoration: none;;
  }

  p {
    margin: 0;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: $font-color;
    background: $background-color;
  }

  // TOastr
  .Vue-Toastification {
    &__container {
      max-width: auto!important;
      width: 100%!important;
      left: 0!important;
      margin: 0!important;
      padding: 0 !important;
      margin-bottom: -5px !important;

      &.top-center { top: 0 !important }

      &.bottom-center { bottom: 0 !important }
    }

    &__toast {
      width: 100% !important;
      max-width: 100% !important;
      border-radius: 0 !important;
      margin-bottom: 5px !important;

      &--warning { background: #f0ad4e !important }

      &--default { background: $primary-color !important }

      svg { display: none }

      &-body {
        font-size: 16px !important;
        line-height: 18px !important;
        font-weight: 600 !important;
        font-weight: 600;
        text-align: center;
      }
    }
  }

</style>
