<template>
  <div>
    <TheHeader/>

    <div class="container-fluid px-0 px-md-4 pb-4" style="padding-top: calc(var(--the-header-height) + var(--content-gap))">
      <router-view :key="$route.path"></router-view>
    </div>
  </div>
</template>

<script>
import TheHeader from '@/components/template/TheHeader'

export default {
  components: {
    TheHeader,
  }
}
</script>

<style lang="scss">
  :root {
    --content-gap: 20px;

    @media (max-width: 768px) {
      --content-gap: 0px;
    }
  }
</style>