<template>
  <div class="dropdown-item">
    <div class="dropdown-item__icon" v-if="$slots.icon">
      <slot name="icon" />
    </div>

    <span class="dropdown-item__text">
      <slot />
    </span>
  </div>
</template>

<style lang="scss" scoped>
  .dropdown-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;

    &:hover { background: rgba(#fff, .075) }

    &__text {
      color: #fff;
      font-size: 15px;
      font-weight: 500;
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(#fff, .1);
      width: 32px;
      height: 32px;
      font-size: 14px;
      border-radius: 100%;

      & > ::v-deep(*) {
        color: #fff;
      }
    }

    &.primary &__text { color: $primary-color }
  }
</style>