<template>
  <div class="dropdown">
    <div role="button" data-bs-toggle="dropdown" class="w-100">
      <slot name="button" />
    </div>

    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
      <slot />
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .dropdown {
    font-size: 0;
  }

  .dropdown-menu {
    background: $background-secondary-color;
    border: 1px solid rgba(#fff, .1);
    box-shadow: rgba(#000, .4) 0px 0px 20px, rgb(136 153 166 / 15%) 0px 0px 3px 1px;
    border-radius: 8px;
    min-width: 200px;
    padding: 8px;   

    ::v-deep .dropdown-divider {
      border-color: rgba(#fff, .1);
    }
  }
</style>