<template>
  <div ref="scrollComponent">
    <slot />

    <div class="text-center my-1" v-if="!isLoading && !isDone" @click="handleScroll">
      <TextButton>Carregar mais</TextButton>
    </div>

    <div v-if="isLoading" class="text-center">
      <LoadingSVG />
    </div>
  </div>
</template>

<script>
import { ref, onMounted, onUnmounted } from 'vue'
import LoadingSVG from '@/assets/svg/LoadingSVG'
import TextButton from '../buttons/TextButton.vue'

export default {
  components: {
    LoadingSVG,
    TextButton,
  },

  props: {
    isLoading: Boolean,
    isDone: Boolean,
    isScrollDisabled: { type: Boolean, default: false }
  },
  
  setup (props, { emit }) {
    const scrollComponent = ref(null)

    const handleScroll = () => {
      const containerHeight = scrollComponent.value.getBoundingClientRect().bottom - 100

      if (containerHeight <= window.innerHeight && !props.isLoading && !props.isDone) {
        emit('reached')
			}
    }

    onMounted(() => {
      if (props.isScrollDisabled) {
        if (!props.isDone) emit('reached')
      } else {
        document.addEventListener('scroll', handleScroll, true)
        handleScroll()
      }
    })

    onUnmounted(() => document.removeEventListener('scroll', handleScroll, true))

    return { scrollComponent, handleScroll }
  },
}
</script>