<template>
  <div class="counter">
    <span class="counter__count">{{ counter.length }}</span>
    <span class="counter__max">/{{ maxlength }}</span>
  </div>
</template>

<script>
export default {
  props: {
    counter: { type: String, required: true },
    maxlength: { type: Number, required: true }
  }
}
</script>

<style lang="scss" scoped>
  .counter {
    font-size: 14px;

    &__count { font-weight: 700 }
  }
</style>