<template>
  <div class="text-center py-1">
    <loadingSVG/>
  </div>
</template>

<script>
import LoadingSVG from '@/assets/svg/LoadingSVG'

export default {
  components: {
    LoadingSVG,
  }
}
</script>