<script>
import { h } from 'vue'
import { useRoute } from 'vue-router'

export default {
  setup (props, { slots }) {
    const route = useRoute()

    return () => h(
      'div',
      { class: { 'nav': true }},
      slots.default().map(function (slot) {
        return h('div', {
          class: {
            'nav__item': true,
            'nav__item--active': route.name == slot.props.to.name
          },
        }, slot)
      })
    )
  }
}
</script>

<style lang="scss" scoped>
  .nav {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 4px;

    &__item {
      position: relative;
      overflow: hidden;
      flex: 1;
      text-align: center;
      font-size: 13px;
      font-weight: 600;
      background: rgba($background-overlay, .3);
      border-radius: 30px;
      cursor: pointer;

      ::v-deep > * {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        color: $background-overlay;
        padding: 4px 0;
      }

      &:hover:not(&--active) {
        background: rgba($background-overlay, .4);
      }

      &--active {
        background: $primary-color;

        ::v-deep & > * { color: #fff }
      }
    }
  }
</style>