<template>
  <main>
    <div class="page">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-6">
            <LoginPresentation/>
          </div>

          <div class="col-lg-5">
            <LoginBox/>
          </div>
        </div>
      </div>
    </div>
    <TheFooter/>
  </main>
</template>

<script>
import LoginPresentation from '@/components/auth/login/LoginPresentation'
import LoginBox from '@/components/auth/login/LoginBox'
import TheFooter from '@/components/template/TheFooter'

export default {
  components: {
    LoginPresentation,
    LoginBox,
    TheFooter,
  },

  created: () => document.title = 'Nixy - A rede social da #ousadia e #sinceridade'
}
</script>

<style lang="scss" scoped>
  .page {
    display: flex;
    align-items: center;
    padding: 2.5rem 0;
    min-height: 100vh;
  }
</style>