<template>
  <div class="h-nav">
    <slot/>
  </div>
</template>

<style lang="scss" scoped>
  .h-nav {
    &::v-deep > *:not(:last-child) {
      border-bottom: 1px solid $border-secondary-color;
      margin-bottom: 2px;
      padding-bottom: 2px;
    }
  }
</style>