<template>
  <div class="nav__item">
    <div class="nav__link">
      <slot/>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  .nav {
    &__link{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
      padding: 10px;
      transition: .5s all;
      cursor: pointer;
      font-size: 1.125rem;
      font-weight: 600;
      gap: 16px;

      &:hover {
        background: rgba(#fff, .1);
      }

      & > ::v-deep(*):first-child { flex: 1 1 auto }
    }

    @media (max-width: 575px) {
      // &__link {
      //   align-items: flex-start;
      //   flex-direction: column;
      // }
    }
  }
</style>