<template>
  <div class="d-flex flex-column">
    <NamingText>
      #petropolis
    </NamingText>

    <DisclaimerText>
      3.142 membros
    </DisclaimerText>
  </div>
</template>

<script>
import NamingText from '@/components/typography/text/NamingText'
import DisclaimerText from '@/components/typography/text/DisclaimerText'

export default {
  components: {
    NamingText,
    DisclaimerText,
  }
}
</script>
