<template>
  <GridInternal>
    <template #left>
      <LayoutInternal>
        <SectionHeading class="primary">Encontrar a galera</SectionHeading>

        <UserSearchTabNav />

        <UserSearchBox />
      </LayoutInternal>
    </template>
  </GridInternal> 
</template>
<script>

import UserSearchBox from '@/components/user/UserSearchBox.vue'
import GridInternal from '@/components/template/grid/GridInternal.vue'
import LayoutInternal from '@/components/template/layout/LayoutInternal.vue'
import SectionHeading from '@/components/typography/headings/SectionHeading.vue'
import UserSearchTabNav from '@/components/tab-navs/UserSearchTabNav.vue'


export default {
  components: {
    UserSearchBox,
    GridInternal,
    LayoutInternal,
    SectionHeading,
    UserSearchTabNav,
  },

  created: () => document.title = 'Encontrar a Galera / Nixy'
}
</script>